// BE YAO COLORS
$yao-red: #a3402d;
$yao-yel: #e5b81d;


// BE YAO LAYOUT
.be-yao {
  background-color: $yao-red;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    svg {
      max-width: 10rem;
      height: 50vh;
      margin: 0 auto;
    }
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    figure {padding: 0;}
    figure.wide {width: 100%;}
    figure.yao-yel {background-color: $yao-yel;}
  }
  footer {
    background-color: $yao-yel;
    .logo svg {fill: $yao-red;}
    nav ul li a {color: $yao-red;}
    nav ul li a:hover, nav ul li a:focus {color: $white;}
    small {color: $yao-red;}
  }
}


@media (min-width: 46rem) {
.be-yao {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    figure {width: 50%;}
  }
}}