// ABOUT
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-attachment: initial;
  background-color: $green;
  background-image: url(../images/banner-about-1x.jpg);
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: cover;
  @include transition (all, 0.25s, ease);
  h1 {display: none;}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.about {background-image: url(../images/banner-about-2x.jpg);}}

.no-touch .about {background-attachment: fixed;}

.about figure {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem 2rem 6rem;
}

.about figure .logo {
  width: calc(100% - 60vw);
  min-width: 12rem;
  margin: 0;
  padding: 0;
}


// BIOGRAPHY
.bio figure {margin: 2rem 0;}

.bio figcaption {
  padding: 0;
  text-align: center;
}

.bio h1 {display: none;}

.bio p {
  font-family: $font-medium;
  font-size: 1.125rem;
  line-height: 2;
}

@media (min-width: 46rem) {.bio figure {margin: 4rem 0;}}


// ABOUT PAGE CUSTOM TYPESTYLES
.do h1, .principles h1, .trivialities h1 {
  font-family: "metropolis-bold", sans-serif;
  text-align: center;
}

.do h1:after, .principles h1:after, .trivialities h1:after {
  display: block;
  width: 35%;
  height: 1px;
  margin: 0.5rem auto;
  background-color: $green;
  content: "";
}

.do ul li h2, .principles ul li h2 {
  padding: 0;
  line-height: 1;
}

@media (min-width: 41.6875rem) {
.do h1, .principles h1, .trivialities h1 {
  padding: 0;
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: 1;
  text-align: left;
  color: $cream;
}
.do h1:after, .principles h1:after, .trivialities h1:after {display: none;}
.principles h1, .trivialities h1 {font-size: 3rem;}}

@media (min-width: 46rem) {
.do h1, .principles h1 {width: 50%;}
.principles h1 {font-size: 3.5rem;}
}

@media (min-width: 62rem) {
.do h1 {width: 40%;}
.principles h1 {
  width: 45%;
  font-size: 4rem;
}}


// THE THINGS I DO
.do {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $white;
}

.do ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 22.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  list-style: none;
}

.do ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;
}

.do ul li:last-child {margin: 0;}

.do ul li span {
  display: block;
  width: 100%;
  margin-bottom: -1.5rem;
  font-size: 3rem;
  line-height: 1;
  color: $cream;
}

@media (min-width: 41.6875rem) {
.do {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.do ul {padding: 0 0 0 2rem;}}

@media (min-width: 46rem) {
.do {padding: 4rem;}
.do ul {padding: 0 0 0 4rem;}}


// WORK PRINCIPLES
.principles {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.principles ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 22.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.principles ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 2rem;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}

.principles ul li:last-child {margin: 0;}

.principles ul li h2 span {
  display: block;
  width: 100%;
  margin-bottom: -1rem;
  font-family: $font-bold;
  font-size: 2.5rem;
  line-height: 1;
  color: $cream;
}

@media (min-width: 41.6875rem) {
.principles {
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}
.principles ul {padding: 0 2rem 0 0;}}

@media (min-width: 46rem) {
.principles {padding: 4rem 4rem 0;}
.principles ul {padding: 0 2rem 0 0;}}


// CONTACT ME
.contact {
  margin: 2rem 0 0;
  background-color: $green;
  h1 {display: none;}
}

.contact article {
  max-width: 42rem;
  padding: 2rem;
  color: $white;
}

.contact article h2 {font-family: "metropolis-bold", sans-serif;}

.contact article .button {
  border-color: $white;
  color: $white;
  background-color: $green;
}

.contact article .button:hover, .contact article .button:focus {
  color: $green;
  background-color: $white;
}

@media (min-width: 46rem) {.contact {margin: 2rem 0 0;}}

@media (min-width: 62rem) {.contact article {padding: 4rem;}}


// TRIVIALITIES
.trivialities {padding: 2rem;}

.trivialities ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $green;
}

.trivialities ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
  padding: 0;
}

.trivialities ul li:last-child {display: none;;}

.trivialities ul li span.icon {
  font-size: 2.5rem;
  line-height: 1;
}

.trivialities ul li span.icon i.la.la-coffee {
  position: relative;
  top: 0.25rem;
  left: -0.25rem;
}

.trivialities ul li span.days,
.trivialities ul li span.number,
.trivialities ul li span.counter,
.trivialities ul li span.numscroller,
.trivialities ul li span.counter-value {
  font-family: $font-bold;
  font-size: 1.5rem;
  letter-spacing: -0.046875rem;
}

.trivialities ul li p {
  padding: 0;
  font-family: $font-medium;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 41.6875rem) {
.trivialities ul li {width: 30%;}
.trivialities ul li:last-child {display: flex;}}

@media (min-width: 46rem) {.trivialities ul {padding: 1rem 0 0;}}

@media (min-width: 62rem) {.trivialities {padding: 4rem;}}