// WELCOME
.welcome {
  figure {
    min-height: 100vh;
    picture {
      display: grid;
      width: 100%;
      max-width: 32rem;
      margin: 0 0 1rem;
      source {width: 100%;}
      img {width: 100%;}
    }
    figcaption {
      h1 {
        max-width: 40rem;
        font-family: $font-serif;
      }
    }
  }
}

@media (min-width: 46rem) {
  .welcome {
    figure {
      flex-direction: row-reverse;
      picture {
        width: 48%;
        margin: 0;
      }
      figcaption {
        width: 52%;
        padding: 0;
      }
    }
  }
}


// GLOBAL HOME STYLES
.home {
  figure {
    min-height: 100vh;
    picture {
      display: grid;
      width: 40%;
      max-width: 32rem;
      margin: 0 auto 1rem;
      source {width: 100%;}
      img {width: 100%;}
    }
  }
}

.home figure:before {
  display: block;
  position: absolute;
  top: 0;
  width: 80%;
  height: 1px;
  margin: 0 auto 2rem;
  background-color: $warm-gray;
  content: "";
}

@media (min-width: 46rem) {
  .home {
    figure {
      flex-direction: row;
      min-height: 50vh;
      picture {
        width: 20%;
        margin: 0;
      }
      figcaption {padding: 0 0 0 2rem;}
    }
    figure.reverse {
      flex-direction: row-reverse;
      figcaption {padding: 0 2rem 0 0;}
    }
    figure:before {display: none;}
  }
}

@media (min-width: 88rem) {.home figure picture {width: 15%;}}


// CUSTOM HOME STYLES
.home.east-wind figure img {
  width: auto;
  height: 16rem;
}

@media (orientation: landscape) and (max-width: 46rem) {.home.east-wind figure {background-size: 12%;}}

@media (min-width: 46rem) {
.home.east-wind figure img {
  width: 15%;
  height: auto;
}}

@media (min-width: 88rem) {.home.east-wind figure img {width: 10%;}}