// WELCOME
header.welcome {
  justify-content: center;
  height: 100vh;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    text-align: center;
    color: $green;
    background-image: url(../images/profile-1x.png);
    background-image: url(../images/profile-2x.webp);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 45vh;
    @include transition (all, 0.25s, ease);
    h1, p {max-width: 32rem;}
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      svg {
        width: 100%;
        max-width: 10rem;
        fill: $green;
      }
    }
    .text {
      padding: 2rem 0 0;
    }
  }
}

@media (orientation: landscape) {
  header.welcome {
    .bio {
      flex-direction: row;
      align-items: center;
      text-align: left;
      background-image: none;
      .logo {
        width: 30%;
        padding: 0 2rem 0 0;
      }
      .text {
        width: 70%;
        padding: 0;
      }
    }
  }
}

@media (min-width: 46rem) {
  header.welcome {
    .bio {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 4rem 2rem;
      text-align: left;
      background-size: 40vh;
      .logo {
        width: 30%;
        max-width: 32rem;
        padding: 0 2rem 0 0;
      }
      .text {
        padding: 0;
      }
    }
  }
}

@media (min-width: 62rem) {
  header.welcome {
    .bio {
      padding: 6rem 2rem;
      p {font-size: 1.25rem;}
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 62rem) {
  header.welcome {
    .bio {
      background-image: url(../images/profile-2x.png);
      background-image: url(../images/profile-2x.webp);
    }
  }
}


/* CONTACT */
.home.contact {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
  color: $green;
  background: $cream;
  p a.button {background-color: $cream;}
  p a.button:hover, p a.button:focus {
    color: $cream;
    background-color: $green;
  }
}


// GLOBAL HOME STYLES
.home {
  figure {
    min-height: 100vh;
    picture {
      display: grid;
      width: 40%;
      max-width: 32rem;
      margin: 0 auto 1rem;
      source {width: 100%;}
      img {width: 100%;}
    }
  }
}

.home figure:before {
  display: block;
  position: absolute;
  top: 0;
  width: 80%;
  height: 1px;
  margin: 0 auto 2rem;
  background-color: $warm-gray;
  content: "";
}

@media (min-width: 46rem) {
  .home {
    figure {
      flex-direction: row;
      min-height: 50vh;
      picture {
        width: 20%;
        margin: 0;
      }
      figcaption {padding: 0 0 0 2rem;}
    }
    figure.reverse {
      flex-direction: row-reverse;
      figcaption {padding: 0 2rem 0 0;}
    }
    figure:before {display: none;}
  }
}

@media (orientation: landscape) {
  .home {
    figure {
      flex-direction: row;
      min-height: 50vh;
      picture {
        width: 20%;
        margin: 0;
      }
      figcaption {padding: 0 0 0 2rem;}
    }
    figure.reverse {
      flex-direction: row-reverse;
      figcaption {padding: 0 2rem 0 0;}
    }
    figure:before {display: none;}
  }
}

@media (min-width: 88rem) {.home figure picture {width: 15%;}}


// CUSTOM HOME STYLES
.home.east-wind figure img {
  width: auto;
  height: 16rem;
}

@media (orientation: landscape) and (max-width: 46rem) {.home.east-wind figure {background-size: 12%;}}

@media (min-width: 46rem) {
  .home.east-wind figure img {
    width: 15%;
    height: auto;
  }
}

@media (min-width: 88rem) {.home.east-wind figure img {width: 10%;}}