// HOME BANNER
main.home {
  .banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 15;
    padding: 2rem 2rem 4rem;
    text-align: center;
    background: white;
    h1 {
      margin: 0 auto 1rem;
      @include font-bo;
      font-size: 5.063rem;
      color: $green;
    }
    p {font-size: 1.1rem;}
    .avatar {
      display: flex;
      position: relative;
      width: 8rem;
      height: 8rem;
      overflow: hidden;
      figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width:  100%;
        overflow: hidden;
        margin: 0;
        border: 0.325rem solid $cream;
        border-radius: 100%;
        picture {
          position: relative;
          width: 100%;
          overflow: hidden;
          margin: 0 auto;
          border: 0.25rem solid white;
          border-radius: 100%;
          source, img {
            position: relative;
            bottom: -1rem;
          }
        }
      }
    }
    .signature {
      display: inline-grid;
      height: 4rem;
      overflow: hidden;
      margin: 1rem 0 0;
      fill: $green;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem 0;
    h1 {
      max-width: 32rem;
      margin: 2rem auto;
      font-size: 4.502rem;
      text-align: center;
      color: $green;
    }
    h1::before, h1::after {
      display: block;
      width: 100%;
      height: 1px;
      background: $green;
      content: "";
    }
    h1::before {
      top: 0;
      margin: 0 0 2rem;
    }
    h1::after {
      bottom: 0;
      margin: 1.5rem 0 0;
    }
    .card {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin: 1rem 0;
      padding: 0;
      @include transition(all, 0.25s, ease, 0s);
      figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 1rem;
        picture {
          display: grid;
          overflow: hidden;
          width: 100%;
          border-radius: 0.25rem;
          will-change: transform;
          @include transition(all, 0.325s, ease);
          @include transform(translateY(0));
        }
        picture.phone {
          display: none;
          source, img {
            width: 33.81275%;
            margin: 0 auto;
          }
        }
        picture.phone.left {source, img {margin: 0;}}
        figcaption {display: none;}
      }
    }
    .card::before {
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      margin: 0 0 2rem;
      background: $gray;
      content: "";
    }
    .card:first-of-type::before {display: none;}
    .promo {
      width: calc(100% + 4rem);
      margin: 1rem -2rem;
      padding: 4rem 2rem;
      h2 {
        span {display: none;}
      }
    }
  }
}

.no-touch main.home {
  .content {
    .card {
      figure:hover, figure:focus {
        picture {
          box-shadow: 0.25rem 0.25rem 0.5rem $gray-platinum;
          @include transform(translateY(-0.5rem));
        }
      }
    }
  }
}

@media (orientation: landscape) {
  main.home {
    .content {
      .card {width: 70%;}
    }
  }
}

@media (min-width: 46rem) {
  main.home {
    .content {
      .card {
        width: calc(50% - 1rem);
        figure {
          picture.phone {
            source, img {margin: 0;}
          }
        }
      }
      .card.xl {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        figure {
          width: calc(50% - 1rem);
          margin: 0;
        }
        .text {width: calc(50% - 1rem);}
      }
      .card.xl.reverse {flex-direction: row-reverse;}
    }
  }
}

@media (orientation: landscape), (min-width: 46rem) {
  main.home {
    .banner {
      h1 {font-size: 6rem;}
      p {
        max-width: 48rem;
        font-size: 1.25rem;
      }
      .signature {height: 6rem;}
    }
  }
}

@media (min-width: 89.875rem) {
  main.home {
    .banner {
      .signature {height: 6rem;}
    }
    .content {
      .card {width: calc(32.5% - 1rem);}
    }
  }
}