// BANNER
.banner.panera {background-image: url(../images/work-panera-01-1x.jpg);}

@media (min-width: 48rem) {
  .banner.transferx {background-image: url(../../../assets/images/work-panera-01-2x.jpg);}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 64rem) {
  .banner.panera {background-image: url(../images/work-panera-01-2x.jpg);}
}


// CONTENT
.content.panera {
  figure.small {width: calc(33% - 1rem);}
  figure.my-panera {width: calc(25% - 1rem)}
  .highlight.figures {
    figure.wide {
      img {
        max-width: 56rem;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 48rem) {
  .content.panera {
    figure.small {width: calc(8.333333333333333% - 1rem) !important;}
  }
}