// PROJECTS
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects article {width: 100%;}

.projects article:first-of-type {z-index: 15;}

.projects figure {
  width: 100%;
  min-height: 100vh;
}

.projects figure img {
  width: 40%;
  max-width: 32rem;
}

.projects figcaption {
  max-width: 28rem;
  padding: 2rem 0 0;
}

.projects h1 {display: none;}

@media (orientation: landscape) and (max-width: 46rem) {
.projects figure {flex-direction: row;}
.projects figure img {width: 20%;}
.projects figcaption {padding: 0 0 0 2rem;}}

@media (min-width: 46rem) {
.projects article {min-height: 0;}
.projects figure {
  flex-direction: row;
  min-height: 50vh;
}
.projects figure img {width: 20%;}
.projects figcaption {padding: 0 0 0 2rem;}
.projects figure.reverse {flex-direction: row-reverse;}
.projects figure.reverse figcaption {padding: 0 2rem 0 0;}}


// CUSTOM PROJECTS STYLES
.projects .east-wind figure img {
  width: auto;
  height: 16rem;
}

.projects .east-wind, footer.east-wind {background-color: $east-wind-bg;}
.projects .enservio-portal, footer.enservio-portal {background-color: $enservio-portal-bg;}
.projects .my-stuff, footer.my-stuff {background-color: $my-stuff-bg;}
.projects .panera, footer.panera {background-color: $panera-bg;}
.projects .transferx, footer.transferx {background-color: $transferx-bg;}

.projects .east-wind .button:hover, .projects .east-wind .button:focus {background-color: $east-wind-bg;}
.projects .enservio-portal .button:hover, .projects .enservio-portal .button:focus {background-color: $enservio-portal-bg;}
.projects .my-stuff .button:hover, .projects .my-stuff .button:focus {background-color: $my-stuff-bg;}
.projects .panera .button:hover, .projects .panera .button:focus {background-color: $panera-bg;}
.projects .transferx .button:hover, .projects .transferx .button:focus {background-color: $transferx-bg;}

@media (min-width: 46rem) {
.projects .east-wind figure img {
  width: 15%;
  height: auto;
}}


// INTRO
.intro {
  display: block;
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {display: none;}
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.5;
  }
  article {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 4rem;
    color: $white;
    h2 {
      padding: 0;
      font-family: $font-serif;
      font-size: 2rem;
      span.eyebrow {line-height: 2;}
    }
  }
}

.no-touch .intro {background-attachment: fixed;}

.no-touch .intro article {padding: 2rem;}

@media (min-width: 46rem) {.intro article h2 {font-size: 3.5rem;}}


// DELTA DESIGN SYSTEM
.intro.delta-design {
  background-image: url(../images/work-delta-design-01-1x.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.east-wind {background-image: url(../images/work-delta-design-01-2x.jpg);}}


// EAST WIND INTRO
.intro.east-wind {
  background-image: url(../images/work-east-wind-01-1x.jpg);
  background-position: 55% center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.east-wind {background-image: url(../images/work-east-wind-01-2x.jpg);}}


// ENSERVIO DESIGN SYSTEM INTRO
.intro.enservio-portal {background-image: url(../images/work-enservio-portal-01-1x.jpg);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.enservio-portal {background-image: url(../images/work-enservio-portal-01-2x.jpg);}}


// MY STUFF INTRO
.intro.my-stuff {background-image: url(../images/work-my-stuff-01-1x.jpg);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.my-stuff {background-image: url(../images/work-my-stuff-01-2x.jpg);}}


// PANERA BREAD INTRO
.intro.panera {background-image: url(../images/work-panera-01-1x.jpg);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.panera {background-image: url(../images/work-panera-01-2x.jpg);}}


// TRANSFERX INTRO
.intro.transferx {
  background-image: url(../images/work-transferx-01-1x.jpg);
  background-position: 35% center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.intro.transferx {background-image: url(../images/work-transferx-01-2x.jpg);}}


// DETAILS
.details {
  h1 {display: none;}
  article {
    margin: 0 auto;
    .text {
      padding: 2rem 2rem 0;
      h2 {
        width: fit-content;
        padding: 1rem 0 0;
        font-family: $font-serif;
      }
      h2:first-of-type {padding: 0;}
      p {padding: 0 0 1rem;}
      p:last-of-type {padding: 0;}
    }
    figure {padding: 2rem 2rem 0;}
  }
}

@media (min-width: 46rem) {
.details article {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .text {
    width: 50%;
    p {font-size: 0.875rem;}
  }
  .text.wide {
    width: 100%;
    margin: 2rem 0 0;
    text-align: center;
    background-color: $cream;
    p {
      max-width: 48rem;
      margin: 0 auto;
      padding: 0 2rem;
      font-size: 1.25rem;
      line-height: 2;
    }
  }
  figure {
    width: 50%;
    padding: 2rem 2rem 0;
  }
  .text:nth-of-type(even), figure:nth-of-type(odd) {padding: 2rem 2rem 0 1rem;}
  .text:nth-of-type(odd), figure:nth-of-type(even) {padding: 2rem 1rem 0 2rem;}
  .text.wide {padding: 2rem;}
  figure:nth-of-type(3n) {
    width: 100%;
    padding: 2rem 2rem 0;
  }
}}

@media (min-width: 62rem) {.details article .text.wide {padding: 4rem 2rem;}}


// DELTA DESIGN SYSTEM DETAILS
@media (min-width: 46rem) {
.details.delta-design article {
  .text:nth-of-type(4n) {padding: 2rem 1rem 0 2rem;}
  figure:nth-of-type(3n) {
    width: 50%;
    padding: 2rem 1rem 0 2rem;
  }
  figure:nth-of-type(4n) {
    width: 50%;
    padding: 2rem 2rem 0 1rem;
  }
  figure:nth-of-type(6n) {
    width: 100%;
    padding: 2rem 2rem 0;
  }
  figure:nth-of-type(7n) {
    width: 50%;
    padding: 2rem 1rem 0 2rem;
  }
  figure:nth-of-type(9n) {
    width: 100%;
    padding: 2rem 2rem 0;
  }
}}


// ENSERVIO PORTAL DETAILS
@media (min-width: 46rem) {
.details.enservio-portal article figure:nth-of-type(5n) {padding: 2rem 1rem 0 2rem;}
.details.enservio-portal article figure:nth-of-type(6n) {
  width: 50%;
  padding: 2rem 2rem 0 1rem;
}
.details.enservio-portal article figure:nth-of-type(7n) {
  width: 100%;
  padding: 2rem 0 0;
}}


// MY STUFF DETAILS
@media (min-width: 46rem) {
.details.my-stuff article figure:nth-of-type(3n) {
  width: 50%;
  padding: 2rem 2rem 0 1rem;
}
.details.my-stuff article figure:nth-of-type(4n) {padding: 2rem 2rem 0 1rem;}
.details.my-stuff article figure:nth-of-type(8n) {
  width: 100%;
  padding: 2rem 2rem 0;
}
.details.my-stuff article figure:nth-of-type(6n),
.details.my-stuff article figure:nth-of-type(9n) {padding: 2rem 1rem 0 2rem;}
.details.my-stuff article figure:nth-of-type(10n) {padding: 2rem 2rem 0 1rem;}}


// PANERA DETAILS
@media (min-width: 46rem) {
.details.panera article figure:nth-of-type(6n) {
  width: 100%;
  padding: 2rem 2rem 0;
}
.details.panera article figure:nth-of-type(7n) {padding: 2rem 1rem 0 2rem;}
.details.panera article figure:nth-of-type(8n) {padding: 2rem 2rem 0 1rem;}}