/*
RESUME SECTIONS
  header
  logo
  contact-me
  about-me
  experience
  skills
  contact-me-again
  footer
*/


// RESUME HEADER
header.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  h1 {
    display: block;
    width: 100%;
    @include sans-light;
    font-size: 1rem;
    letter-spacing: 0;
  }
  h1:after {
    display: block;
    position: relative;
    top: -2px;
    width: 100%;
    height: 1px;
    background-color: $green;
    content: "";
  }
  h1 span {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 0.8rem;
    @include sans-bold;
    font-size: inherit;
    letter-spacing: 0;
    text-transform: uppercase;
    color: $green;
  }
  h1 span:after {
    display: block;
    width: inherit;
    height: 3px;
    background-color: $green;
    content: "";
  }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 10rem;
    min-width: 10rem;
    margin: 0;
    padding: 0;
    h1 {display: none;}
    svg {
      display: grid;
      width: 100%;
      fill: $green;
    }
  }
  .contact-me {
    align-items: center;
    justify-content: flex-start;
    max-width: 32rem;
    padding: 2rem 0;
    ul {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {font-size: 0.8rem;}
      li span {
        display: block;
        width: 100%;
        @include sans-bold;
        text-transform: uppercase;
        color: $green;
      }
      li a {
        display: block;
        overflow: hidden;
        @include sans-bold;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $orange;
      }
      li a:hover, li a:focus {color: $green;}
    }
  }
  a.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin: 0;
    border: 1px dashed $green;
    border-radius: 100%;
    background: transparent;
    span {
      width: 1.5rem;
      height: 1.5rem;
      @include transition(all, 0.5s, ease);
      svg {fill: $green;}
    }
    &:hover, &:focus {
      background: $green;
      span {
        @include transform (rotate(360deg));
        svg {fill: white;}
      }
    }
  }
}

@media (orientation: landscape) {
  header.resume {
    flex-direction: row;
    .logo {
      width: auto;
      padding: 0 2rem 0 0;
    }
    .contact-me {
      padding: 0;
      ul {padding: 0 0 0 2rem;}
    }
  }
}

@media (min-width: 48rem) {
  header.resume {
    flex-direction: row;
    .logo {
      width: auto;
      padding: 0 2rem 0 0;
    }
    .contact-me {
      padding: 0;
      ul {
        padding: 0 0 0 2rem;
        li, li a {font-size: 1rem;}
      }
    }
  }
}


// RESUME CONTENT
main.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem 0;
  }
  h1 {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    @include sans-light;
    font-size: 1rem;
    letter-spacing: 0;
  }
  h1:after {
    display: block;
    position: relative;
    top: -2px;
    width: 100%;
    height: 1px;
    background-color: $green;
    content: "";
  }
  h1 span {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 0.8rem;
    @include sans-bold;
    font-size: inherit;
    letter-spacing: 0;
    text-transform: uppercase;
    color: $green;
  }
  h1 span:after {
    display: block;
    width: inherit;
    height: 3px;
    background-color: $green;
    content: "";
  }
  p {
    font-size: 0.8rem;
    padding: 0 0 0.8rem;
  }
  p:last-of-type {padding: 0;}
}

@media (min-width: 35.5rem) {
  main.resume {
    section {width: 90%;}
    section.about-me p {
      max-width: none;
      padding: 0 0 0 2rem;
    }
  }
}

@media (min-width: 48rem) {
  main.resume {
    section {
      width: 70%;
      p {font-size: 1rem;}
    }
  }
}

@media (min-width: 64rem) {
  main.resume {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    section {width: 100%;}
  }
}

/* EXPERIENCE */
main.resume article.history section {
  height: auto;
  max-height: none;
  min-height: inherit;
  padding: 0 0 1rem;
  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    @include sans-bold;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    color: $orange;
    a {color: $orange;}
    a:hover, a:focus {color: $green;}
    span {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      @include sans-bold;
      font-size: 75%;
      letter-spacing: 0;
      line-height: inherit;
      color: $green;
    }
  }
  h3 + p {
    padding: 0.25rem 0 0.8rem 0;
    @include sans-bold;
    color: $green;
  }
  p:last-of-type {
    margin: 0 0 1rem;
    padding: 0 0 2rem;
    border-bottom: 1px solid $cream;
  }
}

.resume article.history section:last-of-type {
  padding: 0;
  p:last-of-type {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}

.resume article h2 {display: none;}

@media (min-width: 35.5rem) {
  main.resume article.history section {
    width: 100%;
    padding: 0 0 1rem 2rem;
  }
  main.resume article.history section:last-of-type {padding: 0 0 0 2rem;}
}

@media (min-width: 64rem) {
  main.resume article.history {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    section {
      width: 48%;
      padding: 0 0 1rem 2rem;
      p:last-of-type {border: none;}
    }
  }
}


/* SKILLS */
main.resume section.skills {
  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      padding: 0;
      span {
        display: block;
        width: 100%;
        overflow: hidden;
        @include sans-bold;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $green;
      }
      div {
        display: block;
        width: 100%;
        height: 0.5rem;
        margin: 0.125rem auto 0;
        background-color: $green;
        background-color: $gray-platinum;
        background-color: $cream;
      }
      div > span.animate {
        display: block;
        width: 0;
        height: inherit;
        background-color: $orange;
        background-color: $cream;
        background-color: $green;
        @include transition(all, 0.5s, ease);
      }
    }
    li:first-of-type {margin: 0;}
    li.adobe div > span.animate.visible {
      width: 95%;
      transition-property: width;  
    }
    li.code div > span.animate.visible {
      width: 85%;
      transition-property: width;  
    }
    li.sketch div > span.animate.visible {
      width: 83%;
      transition-property: width;  
    }
    li.analytics div > span.animate.visible {
      width: 75%;
      transition-property: width;  
    }
    li.git div > span.animate.visible {
      width: 58%;
      transition-property: width;  
    }
    li.accessibility div > span.animate.visible {
      width: 45%;
      transition-property: width;  
    }
  }
}

@media (min-width: 35.5rem) {
  main.resume section.skills {
    ul {padding: 0 0 0 2rem;}
  }
}

@media (min-width: 48rem) {
  main.resume section.skills {
    ul li span {font-size: 1rem;}
  }
}

@media (min-width: 64rem) {
  main.resume section.skills {
    width: 48%;
    padding: 0 0 0 2rem;
  }
}


/* CONTACT ME AGAIN */
main.resume section.contact-me {
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 2rem 0;
  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 1rem;
      font-size: 0.8rem;
    }
    li:last-of-type {margin: 0;}
    li span {
      display: block;
      width: 100%;
      @include sans-bold;
      text-transform: uppercase;
      color: $green;
    }
    li a {
      display: block;
      overflow: hidden;
      @include sans-bold;
      font-size: 0.8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $orange;
    }
    li a:hover, li a:focus {color: $green;}
  }  
}

@media (min-width: 35.5rem) {
  main.resume section.contact-me {
    ul {padding: 0 0 0 2rem;}
  }
}

@media (min-width: 48rem) {
  main.resume section.contact-me {
    ul {
      li, li a {font-size: 1rem;}
    }
  }
}

@media (min-width: 64rem) {
  main.resume section.contact-me {
    width: 48%;
    padding: 0 0 0 2rem;
  }
}

// FOOTER
footer.resume {
  margin: 4rem 0 0;
  background: white;
  nav ul {
    justify-content: center;
    li {
      padding: 0 0.5rem;
      color: $green;
      a {
        color: $orange;
        &:hover, &:focus {color: $green;}
      }
      a {
        .icon {
          span {
            svg {fill: $orange;}
          }
        }
        &:hover, &:focus {
          .icon {
            span {
              svg {fill: $green;}
            }
          }
        }
      }
    }
  }
  p {
    margin: 0 auto;
    text-align: center;
  }
}

.no-touch footer.resume {
  nav ul {padding-left: 1.25rem;}
}