/*
RESUME SECTIONS
  .logo
  .contact-me
  .about-me
  .experience
  .skills
  .contact-me-again
*/


// GLOBAL RESUME LAYOUT STYLES
main.resume {
  display: flex;
  flex-direction: column;
}

.resume section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem 2rem 0;
}


// GLOBAL RESUME TYPE STYLES
.resume h1 {
  display: block;
  width: 100%;
  padding: 0 0 1rem;
  font-family: $font-regular;
  font-size: 1rem;
  letter-spacing: 0;
}

.resume h1:after {
  display: block;
  position: relative;
  top: -2px;
  width: 100%;
  height: 1px;
  background-color: $green;
  content: "";
}

.resume h1 span {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 0.5rem;
  font-family: $font-bold;
  text-transform: uppercase;
}

.resume h1 span:after {
  display: block;
  width: inherit;
  height: 3px;
  background-color: $green;
  content: "";
}

.resume p {
  font-size: 0.875rem;
  padding: 0 0 0.875rem;
}

.resume p:last-of-type {padding: 0;}


// LOGO SECTION
.resume .logo {
  width: 40%;
  min-width: 14rem;
  height: 45vh;
  margin: 0 auto;
  h1 {display: none;}
}


// CONTACT SECTION
.resume .contact-me {
  align-items: center;
  justify-content: flex-start;
  height: 55vh;
  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 0 0 0.875rem;
      font-size: 0.875rem;
    }
    li:last-of-type {padding: 0;}
    li span {
      display: block;
      width: 100%;
      font-family: $font-bold;
      text-transform: uppercase;
      color: $green;
    }
    li a {
      font-family: $font-medium;
      font-size: 0.875rem;
      color: $orange;
    }
    li a:hover, li a:focus {color: $green;}
  }
}

.resume .contact-me:last-of-type {height: auto;}


// HISTORY SECTION
.resume article.history section {
  height: auto;
  max-height: none;
  min-height: inherit;
  padding: 0 0 1rem;
  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: $font-bold;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    color: $orange;
    a {color: $orange;}
    a:hover, a:focus {color: $green;}
    span {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0 0 0 0.75rem;
      font-family: $font-bold;
      font-size: 75%;
      color: $green;
    }
  }
  h3 + p {
    padding: 0.25rem 0 0.75rem 0;
    font-family: $font-bold;
  }
  p:last-of-type {
    margin: 0;
    padding: 0 0 0.875rem;
    border-bottom: 1px solid $cream;
  }
}

.resume article.history section:last-of-type {
  padding: 0;
  p:last-of-type {
    padding: 0;
    border-bottom: none;
  }
}

.resume article h2 {display: none;}


// MY FAVORITE SKILLS
.resume .skills {
  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      padding: 0 0 0.875rem;
      span {
        display: block;
        width: 100%;
        overflow: hidden;
        font-family: $font-bold;
        font-size: 0.875rem;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        color: $green;
      }
      div {
        display: block;
        width: 100%;
        height: 0.5rem;
        margin: 0.125rem auto 0;
        background-color: $green;
        background-color: $cool-gray;
        background-color: $cream;
      }
      div > span {
        display: block;
        width: 0;
        height: inherit;
        background-color: $orange;
        background-color: $cream;
        background-color: $green;
        @include transition(all, 0.5s, ease);
      }
    }
    li:last-of-type {padding: 0;}
  }
}

.resume .skills ul li.adobe div > span[data-aos="loaded"] {
  width: 0%;
  transition-property: width;  
  &.aos-animate {width: 95%;}
}

.resume .skills ul li.code div > span[data-aos="loaded"] {
  width: 0%;
  transition-property: width;  
  &.aos-animate {width: 85%;}
}

.resume .skills ul li.sketch div > span[data-aos="loaded"] {
  width: 0%;
  transition-property: width;  
  &.aos-animate {width: 75%;}
}

.resume .skills ul li.analytics div > span[data-aos="loaded"] {
  width: 0%;
  transition-property: width;  
  &.aos-animate {width: 65%;}
}

@media (orientation: landscape) {
main.resume {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}}

@media (min-width: 32rem) {
main.resume {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.resume section {width: 90%;}
.resume section article.history section {width: 100%;}}

@media (min-width: 42rem) {
main.resume {
  justify-content: center;
  width: 80%;
  margin: auto;
  h1 span {padding: 0 0 0 1.5rem;}
  .logo {
    width: 30%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2rem 0;
  }
  .contact-me {
    justify-content: center;
    width: 55%;
    height: 100vh;
    max-height: none;
    padding: 0 2rem 0;
    ul {padding: 0 0 0 3.125rem;}
  }
  .contact-me:last-of-type {
    width: 90%;
    height: auto;
    padding: 2rem 2rem 0;
    ul {padding: 0 0 0 3.125rem;}
  }
  .about-me p {
    padding: 0 0 0 3.125rem;
    font-size: 1rem;
  }
  .history section {
    padding: 0 0 1rem 3.125rem;
    h3 {justify-content: flex-start;}
  }
  .history section:last-of-type {padding: 0 0 0 3.125rem;}
  .skills {
    ul {
      padding: 0 0 0 3.125rem;
    }
  }
}}

@media (min-width: 62rem) {
main.resume {
  .skills {
    width: 55%;
    padding: 2rem 0 0 2rem;
  }
  .contact-me:last-of-type {width: 45%;}
}}

@media (min-width: 80rem) {
main.resume {
  section {width: 100%;}
  .logo {
    max-width: 18rem;
    height: inherit;
    padding: 4rem 2rem 2rem;
  }
  .contact-me {
    width: 45%;
    height: inherit;
    padding: 4rem 2rem 2rem;
  }
  .about-me {
    width: auto;
    min-width: 50%;
    margin: 0 auto 0 0;
    p {padding: 0 2rem 0 3.125rem;}
  }
  .experience {
    .history {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      section {
        width: 50%;
        padding: 0 0 2rem 3.125rem;
        p:last-of-type {
          padding: 0;
          border-bottom: none;
        }
      }
    }
    .contact-me:last-of-type {width: 50%;}
  }
}}

@media (orientation: landscape) and (max-width: 42rem) {
main.resume {
  .logo {
    width: 30%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2rem 0;
  }
  .contact-me {
    justify-content: center;
    width: 55%;
    height: 100vh;
    max-height: none;
    padding: 0 2rem 0;
  }
  .contact-me:last-of-type {
    width: 90%;
    height: auto;
    margin: 0;
    padding: 2rem 2rem 0;
  }
  .history section {
    h3 {justify-content: flex-start;}
  }
}}