// BANNERS
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 15;
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
  .text {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 2rem;
    color: white;
  }
}

.banner.tall {min-height: 100vh;}
.banner.short {min-height: 50vh;}


// CUSTOM BANNERS
.banner.home-page {
  flex-direction: column;
  padding: 0;
  background-color: white;
  .logo {
    width: 8rem;
    margin: 0 auto 1rem;
    fill: $green;
  }
  .text {
    position: relative;
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: $green;
    p {
      margin: 0 auto;
      padding: 0;
    }
  }
}

.banner.projects-page {
  background-image: url(../images/work-delta-design-08-1x.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .banner.projects-page {background-image: url(../images/work-delta-design-08-2x.jpg);}
}
