// COLORS
$white: #ffffff;
$black: #000000;
$cream: #eef1e8;
$green: #384332;
$orange: #e85c45;

$cool-gray: #f9fbfd;
$warm-gray: #ebebe8;


// PROJECT COLORS
$delta-design: #df3a32;
$delta-design-bg: #eeeeee;
$east-wind: #552a80;
$east-wind-bg: #eeeaf2;
$eberhardt-design: #ffe151;
$eberhardt-design-bg: #665a20;
$enservio-portal: #2e84ed;
$enservio-portal-bg: #eaf3fd;
$mystuff: #cd2183; // pink
$mystuff-purple: #7645b6; // purple
$mystuff-bg: #fae9f3;
$panera: #4c753f;
$panera-bg: #e9f0e5;
$transferx: #0d1e27;
$transferx-bg: #f0f5f8;


// COLORS MIXING
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


// SELECTION
::-moz-selection {
  color: $white;
  background: $green;
}

::selection {
  color: $white;
  background: $green;
}