// COLORS
$cream: #eef1e8;
$green: #384332;
$orange: #af4433;


// GRAYS: Specified shades of gray below are kept in a light to dark order
$gray-white: #f2f2f2;
$gray-bright: #eeeeee;
$gray-platinum: #e5e5e5;
$gray: #7e7e7e;
$gray-granite: #616161;
$gray-dark-charcoal: #333333;


// PROJECT COLORS
$delta-design: #df3a32;
$delta-design-bg: #eeeeee;
$east-wind: #552a80;
$east-wind-bg: #eeeaf2;
$eberhardt-design: #ffe151;
$eberhardt-design-bg: #665a20;
$enservio: #2e84ed;
$enservio-bg: #eaf3fd;
$mystuff: #cd2183; // pink
$mystuff-purple: #7645b6; // purple
$mystuff-bg: #fae9f3;
$panera: #4c753f;
$panera-bg: #e9f0e5;
$pine-tree-motel-bg: #34421e;
$transferx: #0d1e27;
$transferx-bg: #f0f5f8;


// COLORS MIXING
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


// SELECTION
::-moz-selection {
  color: white;
  background: $green;
}

::selection {
  color: white;
  background: $green;
}


// BACKGROUND-COLORS
.bg-green {background: $green;}
.bg-orange {background: $orange;}

.bg-cream {
  background: $cream;
  .text {
    color: $green;
  }
}

.bg-delta {
  background: $delta-design-bg;
}

.bg-eberhardt {
  background: $eberhardt-design;
  .text h2, p {
    color: black;
    a {color: black;}
    a:hover, a:focus {color: $gray;}
  }
}

.bg-enservio {
  color: white;
  a {color: white;}
  background: $enservio;
}

.bg-mystuff {
  color: white;
  a {
    color: white;
    &:hover, &:focus {color: $gray-platinum;}
  }
  background: $mystuff;
}

.bg-panera {
  background: $panera;
  .text {
    color: white;
    ol li {
      span::after {background: white;}
    }
  }
}

.bg-panera-light {
  background: $panera-bg;
}

.bg-pine-tree {
  background: $pine-tree-motel-bg;
}

.bg-transferx {
  color: white;
  a {
    color: white;
    &:hover, &:focus {color: $gray;}
  }
  background: $transferx;
}