// MAIN
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

@media (orientation: landscape), (min-width: 46rem) {
  main {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


// SECTIONS & FIGURES
section, .section {
  display: block;
  width: 100%;
  margin: 0;
  padding: 2rem 0 0;
  figure {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $green;
    figcaption {
      margin: 1rem 0 0;
      @include transition(all, 0.25s, ease, 0s);
    }
    picture {
      display: grid;
      overflow: hidden;
      border-radius: 0.25rem;
      source, img {
        @include transition(all, 2.5s, ease, 0s);
        @include transform(scale(1));
      }
    }
    picture:hover, picture:focus {
      source, img {
        @include transform(scale(1.25));
      }
    }
  }
  figure::before {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: 2rem 0 0;
    background: $warm-gray;
    content: "";
  }
  a figure figcaption:hover, a figure figcaption:focus {color: $orange;}
}

@media (orientation: landscape), (min-width: 46rem) {
  section, .section {
    width: calc(50% - 1rem);
    padding: 2rem 0 0;
    figure::before {display: none;}
  }
}


@media (min-width: 42rem) and (orientation: landscape) {
  section, .section {
    padding: 2rem 0 0;
  }
}

@media (min-width: 62rem) {
  section {
  }
}


// ARTICLES
article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  .section figure {
    picture {
      source, img {
        @include transform(none);
      }
    }
    picture:hover, picture:focus {
      source, img {
        @include transform(scale(1));
      }
    }
  }
  .text {
    p:first-child {padding: 0;}
  }
}

@media (orientation: landscape), (min-width: 46rem) {
  article {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


// WIDTHS
.xxl, .xl, .lg, .md, .sm {width: 100%;}

@media (orientation: landscape),  (min-width: 46rem) {
  .xl {width: 100%;}
  .lg {width: calc(60% - 1rem);}
  .md {width: calc(50% - 1rem);}
  .sm {width: calc(40% - 1rem);}
  .xxl {
    width: calc(100% + 4rem);
    margin: -2rem -2rem 0;
  }
}


// HEIGHTS
.tall {
  height: auto;
  min-height: 90vh;
}

.short {
  height: auto;
  min-height: 45vh;
}


/* NO-TOUCH FIGCAPTION P A SPAN ARROWS */
.no-touch figure figcaption p a span {
  display: inline-block;
  height: 1.5rem;
  white-space: nowrap;
  svg {
    display: grid;
    width: auto;
    height: 100%;
    padding: 0;
    fill: $green;
    @include transition (padding, 0.25s, ease);
  }
}
.no-touch figure figcaption p a:hover span,
.no-touch figure figcaption p a:focus span {
  svg {
    padding: 0 0 0 0.4rem;
    fill: $orange;
  }
}