// FIGURES
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 2rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: auto;
  margin: 0;
  padding: 2rem 0 0;
}


// GALLERIES
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  h1, h2 {display: none;}
  figure {padding: 2rem 2rem 0;}
}

@media (min-width: 46rem) {
.gallery article.one, .gallery article.two, .gallery article.three {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gallery article.two figure:first-of-type {padding: 2rem 1rem 0 2rem;}
.gallery article.two figure:last-of-type {padding: 2rem 2rem 0 1rem;}
.gallery article.three {padding: 0 1rem;}
.gallery article.three figure {padding: 2rem 1rem 0;}}


// CARDS
.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  h1 {
    width: 100%;
    padding: 5rem 2rem 0;
    font-family: $font-regular;
  }
  p {
    min-width: 100%;
    padding: 0 2rem;
  }
  figure.card {
    display: block;
    padding: 2rem 2rem 0;
    img {
      display: grid;
      border-radius: 0.125rem;
    }
    figcaption {
      align-items: center;
      position: absolute;
      top: 2rem;
      right: 2rem;
      bottom: 0;
      left: 2rem;
      padding: 1rem;
      border-radius: 0.25rem;
      font-size: 1.5rem;
      text-align: center;
      color: $white;
      background-color: rgba(0,0,0,0.325);
      a {color: $white;}
    }
  }
}

@media (min-width: 46rem) {
.cards {
  padding: 2rem;
  h1 {padding: 2rem 2rem 0;}
  figure.card {
    width: 50%;
    padding: 2rem;
    figcaption {bottom: 2rem;}
  }
}}

@media (min-width: 62rem) {.cards figure.card figcaption {font-size: 2rem;}}


// NON-MOBILE CARD STYLES
.no-touch figure.card {
  overflow: hidden;
  cursor: pointer;
}

.no-touch figure.card figcaption {
  background-color: rgba(0,0,0,0.25);
  @include transition (all, 0.325s, ease);
}

.no-touch figure.card figcaption:hover, .no-touch figure.card figcaption:focus {background-color: rgba(0,0,0,0.5);}