// FOOTER
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto 0;
  padding: 2rem;
  color: $green;
  background: $cream;
  .contact {
    display: block;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    text-align: left;
    p {
      max-width: none;
      font-size: inherit;
    }
  }
  p {font-size: 0.64rem;}
}

@media (min-width: 64rem) {
  footer {
    .contact {margin: 0 0 4rem;}
  }
}