// FOOTER
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  margin: 1rem auto 0;
  padding: 2rem;
  @include font-rg;
  text-align: center;
  nav {
    width: 100%;
    min-width: 50%;
    ul {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 0;
      li {padding: 0 1rem;}
      li:last-child {padding-bottom: 0;}
    }
  }
  .contact {
    position: absolute;
    top: 2rem;
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    text-align: left;
    h2 span {display: none;}
  }
  p.xsmall {
    width: 100%;
    padding: 1rem 0 0;
    text-align: center;
  }
}

footer.bg-green {
  .contact {
    color: white;
    a:hover, a:focus {color: white;}
  }
  nav {
    ul {
      li {color: white;}
      li a {color: $orange;}
      li a:hover, li a:focus {color: white;}
    }
  }
  p.xsmall {color: white;}
}

footer.error {
  .contact {
    color: white;
    a:hover, a:focus {color: white;}
  }
  nav {
    ul {
      li {color: white;}
      li a {color: $orange;}
      li a:hover, li a:focus {color: white;}
    }
  }
  p.xsmall {color: white;}
}