// FOOTER
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  color: $green;
  background: $cream;
  .contact {
    display: block;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    text-align: left;
    p {
      max-width: none;
      margin: 0 auto;
      font-size: inherit;
    }
  }
  p {font-size: 0.64rem;}
}

footer.resume {
  margin: 4rem 0 0;
  background: white;
  nav ul {
    justify-content: center;
    li {padding: 0 0.8rem;}
  }
  p {
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 48rem) {
  footer {
    .contact {margin: 0 0 4rem;}
  }
}