// HEADER
header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background: white;
}


// HEADROOM
.headroom {
  @include transition (all, 0.325s, ease);
  will-change: transform
}

.headroom--pinned {
  z-index: 10;
  @include transform (translateY(0));
}

.headroom--unpinned {@include transform (translateY(-100%));}