// MAIN
main {
  .content {
    padding: 2rem 2rem 0;
  }
}


// BANNERS
.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 15;
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0 2rem;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
  .text {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 2rem;
    color: white;
  }
  .avatar {
    width: 100%;
    figure {
      display: flex;
      flex-direction: column;
      width:  100%;
      margin: 0 0 1rem;
      picture {
        position: relative;
        width: 50%;
        overflow: hidden;
        margin: 0 auto;
        border: 0.5rem solid white;
        border-radius: 100%;
        source, img {
          position: relative;
          bottom: -1rem;
        }
      }
    }
  }
  .signature {
    display: grid;
    width: 100%;
    margin: 2rem 0 0;
  }
}

.banner.home {
  background-blend-mode: multiply;
/*   background-image: url(../images/profile-1x.png); */
  .avatar {display: none;}
}

.banner.tall {min-height: 100vh;}
.banner.short {min-height: 50vh;}

@media (orientation: landscape), (min-width: 46rem) {
  .banner {
    .signature {
      width: calc(100% / 1.5);
      max-width: 50%;
    }
  }
}


/* BANNER LOGO & FONT-SIZE */
@media (min-width: 46rem) {
  .banner {
    p {
      max-width: 48rem;
      font-size: calc(100vh * 0.025);
    }
  }
}

@media (min-width: 62rem) {
  .banner {
    p {
      max-width: 56rem;
      font-size: calc(100vh * 0.0325);
    }
  }
}


/* BANNER BACKGROUND & CONTENT COLOR */
.banner.bg-green {
  fill: white;
  p {
    color: white;
  }
}


// ROWS


// GRIDS
.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (orientation: landscape) {
  .grid {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 46rem) {
  .grid {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


// BOXES
.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  color: $green;
  @include transition(all, 0.25s, ease, 0s);
  figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 1rem;
    @include transition(all, 0.25s, ease, 0s);
    picture {
      display: grid;
      overflow: hidden;
      width: 100%;
      border-radius: 0.25rem;
      source, img {
        @include transition(all, 2.5s, ease, 0s);
        @include transform(scale(1));
      }
    }
    picture.phone {
      source, img {
        width: 33.81275%;
        margin: 0 auto;
      }
    }
    picture.phone.left {
      source, img {
        margin: 0;
      }
    }
    figcaption {
      display: none;
      margin: 0.5rem 0 0;
      font-size: 0.833rem;
      line-height: 1.2;
    }
  }
}
.box::after {
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: 2rem 0 0;
  background: $cream;
  content: "";
}

.box.bg-cream::after, .box.bg-green::after, .box.bg-orange::after {display: none;}

.no-touch .box.hover:hover, .no-touch .box.hover:focus {
  cursor: pointer;
  @include transform(translateY(-0.5rem));
}

@media (orientation: landscape) {
  .box {
    width: 70%;
  }
}

@media (min-width: 46rem) {
  .box {width: calc(50% - 1rem);}
  .box.xl {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    figure {
      width: 35%;
      margin: 0;
    }
    .text {
      width: calc(65% - 2rem);
    }
  }
  .box.xl.reverse {flex-direction: row-reverse;}
  a .box {
    figure {
      picture {
        source, img {
          @include transition(all, 2.5s, ease, 0s);
        }
      }
    }
    figure:hover, figure:focus {
      picture {
        source, img {@include transform(scale(2));}
      }
    }
    .text {@include transition(all, 0.25s, ease);}
    .text:hover, .text:focus {color: $orange;}
  }
}

@media (min-width: 89.875rem) {
  .box {width: calc(32.5% - 1rem);}
}


/* PROMOS */
.promo {
  width: calc(100% + 4rem);
  margin: 1rem -2rem;
  padding: 4rem 2rem;
  h2 span {display: none;}
}