// MAIN
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


// SECTIONS & FIGURES
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  figure {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 2rem 2rem 0;
    color: $green;
    figcaption {
      margin: 1rem 0 0;
      @include transition(all, 0.25s, ease, 0s);
    }
    picture {
      display: grid;
      overflow: hidden;
      width: 100%;
      border-radius: 0.25rem;
      source, img {
        @include transition(all, 2.5s, ease, 0s);
        @include transform(scale(1));
      }
    }
  }
  a figure {
    figcaption:hover, figcaption:focus {color: $orange;}
  }
  .no-touch picture:hover, .no-touch picture:focus {
    source, img {
      @include transform(scale(1.25));
    }
  }
}

@media (orientation: landscape), (min-width: 46rem) {
  section, section.grid.projects {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
    figure {
      padding: 2rem 0 0;
    }
  }
}


// LAYOUT
.xl, .lg, .md, .sm {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (orientation: landscape), (min-width: 46rem) {
  .lg {width: calc(60% - 1rem);}
  .md {width: calc(50% - 1rem);}
  .sm {width: calc(40% - 1rem);}
  .xs {width: calc(32% - 1rem);}
  .xl {
    figure {
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 2rem 0 0;
      picture {width: calc(50% - 2rem);}
      figcaption {
        width: 50%;
        margin: 0;
      }
    }
  }
}


// BANNERS
.banner {
  min-height: 10vh;
}


// GRIDS
.grid {}


/* BORDERS */
.border::before {
  display: block;
  width: calc(100% - 4rem);
  height: 1px;
  margin: 1.75rem auto 0;
  background: $cream;
  content: "";
}

@media (orientation: landscape), (min-width: 46rem) {
  .border::before {width: 100%;}
}