// MAIN
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 0;
}

@media (orientation: landscape), (min-width: 46rem) {
  main {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


// SECTION
/*
main section > a {display: block;}

main section > a::before {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: 2rem 0 0;
  background: $warm-gray;
  content: "";
}

main section > a:first-of-type::before {display: none;}

@media (orientation: landscape), (min-width: 46rem) {
  main section > a::before {margin: 2.5rem 0 0;}
}
*/


// FIGURE
figure {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  width: 100%;
  margin: 2.5rem 0 0;
  padding: 0;
  color: $green;
  figcaption {
    margin: 1rem 0 0;
    @include transition(all, 0.25s, ease, 0s);
  }
  picture {
    display: grid;
    overflow: hidden;
    width: 100%;
    border-radius: 0.25rem;
    source, img {
      @include transition(all, 2.5s, ease, 0s);
      @include transform(scale(1));
    }
  }
}

a figure {
  figcaption:hover, figcaption:focus {color: $orange;}
}

.no-touch picture:hover, .no-touch picture:focus {
  source, img {
    @include transform(scale(1.25));
  }
}

@media (orientation: landscape), (min-width: 46rem) {
}


// LAYOUT
.xl, .lg, .md, .sm {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (orientation: landscape), (min-width: 46rem) {
  .lg {width: calc(60% - 1rem);}
  .md {width: calc(50% - 1rem);}
  .sm {width: calc(40% - 1rem);}
}