// TYPOGRAPHY
/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/

h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  @include font-th;
  line-height: 1.125;
  span {
    display: block;
    @include font-ex;
    @include font-bo;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: $orange;
  color: $green;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus {color: $orange;}

h1 {font-size: 3.502rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

p {
  max-width: 40rem;
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem;
}

p a, li a, small a {
  @include font-bo;
  color: $orange;
  color: $green;
}

p a:hover, p a:focus, li a:hover, li a:focus, small a:hover, small a:focus {
  color: $green;
  color: $orange;
}

strong {
  display: block;
  @include font-bo;
}

small {font-size: 0.8rem;}

.xsmall {font-size: 0.64rem;}
.xxsmall {font-size: 0.512rem;}

@media (orientation: landscape), (min-width: 46rem) {
  h2 {font-size: 3.502rem;}
  h3 {font-size: 2.441rem;}
  h4 {font-size: 1.953rem;}
  h5 {font-size: 1.563rem;}
  p {font-size: 1.1rem;}
  small {font-size: 1rem;}
  .xsmall, .xxsmall {font-size: 0.8rem;}
  h1, h2, h3, h4, h5 {
    span {font-size: 1rem;}
  }
}


// VISUALLY HIDDEN
.visuallyhidden {display: none;}


// CUSTOM SPACING
h2 + h3,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol {padding: 0.5rem 0 0;}

p + h1, p + h2, p + h3, p + h4, p + h5,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
dl + h1, dl + h2, dl + h3, dl + h4, dl + h5 {padding: 1rem 0 0;}


// LISTS
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 1rem 0 0;
  }
}

ol {
  display: flex;
  flex-direction: column;
  padding: 0;
  counter-reset: count;
  li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    @include font-md;
    font-size: 1.25rem;
    span {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: auto;
      margin: 0;
      line-height: 1;
    }
    span::before {
      flex: 0 1 auto;
      width: 4rem;
      height: 4rem;
      padding: 0;
      @include font-serif;
      font-size: 3.502rem;
      color: $gray;
      counter-increment: count;
      content: "0" counter(count);
    }
    span::after {
      display: block;
      width: 100%;
      height: 1px;
      margin: 0;
      background: $gray;
      content: "";
    }
  }
  li:first-of-type {margin: 0 0 1rem;}
}