// BUTTONS
.button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  margin: 1.5rem auto 0 0;
  padding: 0.5rem 1.25rem;
  border: 1px solid $green;
  font-family: $font-bold;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: $green;
  background-color: $white;
  white-space: nowrap;
  cursor: pointer;
  @include transition(all, 0.25s, ease);
}

.button:hover, .button:focus {
  color: $white;
  background-color: $green;
}