// FOOTER
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-family: $font-regular;
}

footer .logo {
  width: 10rem;
  margin: 0 auto 1rem;
}

footer small {text-align: center;}