// NAVIGATION
nav {
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    margin: auto;
    padding: 0 0 0.75rem;
    list-style-type: none;
  }
  ul li, ul li a {
    display: inline-block;
    margin: 0;
    padding: 0 0.75rem 0 0;
    font-family: $font-bold;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: $orange;
    @include transition (all, 0.25s, ease);
  }
  ul li:last-of-type, ul li a:last-of-type {padding: 0;}
  ul li a {
    font-family: $font-bold;
    color: $green;
  }
  ul li a:hover, ul li a:focus {color: $orange;}
}

@media (min-width: 30rem) {
nav ul li, nav ul li a {
  padding: 0 0.875rem 0 0;
  font-size: 0.875rem;
}}


// HEADER NAVIGATION
header.navigation {
  position: fixed;
  z-index: 10;
  margin: auto;
  padding: 1rem 2rem;
  background-color: $white;
}

@media (min-width: 46rem) {header.navigation {padding: 1rem 2rem;}}

header nav ul {
  justify-content: flex-start;
  padding: 0;
}


// PROJECTS LIST NAVIGATION
.projects-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $cool-gray;
  @include transition (all, 0.25s, ease);
  @include transform(translateY(-100rem));
  nav {
    width: 100%;
    height: 100%;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: calc(100% / 6);
        margin: 0;
        padding: 0 2rem;
        font-family: $font-bold;
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: left;
        text-transform: uppercase;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-family: $font-bold;
          font-size: 1.25rem;
          line-height: 1.5;
          text-align: left;
          text-transform: uppercase;
        }
        a:hover, a:focus {color: $white;}
      }
    }
  }
}

.projects-list.show {@include transform(translateY(0));}


// CUSTOM PROJECTS LIST NAVIGATION STYLES
.projects-list nav ul li.close {
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 50;
  width: auto;
  padding: 0;
}

.projects-list nav ul li.close a:hover, .projects-list nav ul li.close a:focus {color: $orange;}
.projects-list nav ul li.east-wind:hover, .projects-list nav ul li.east-wind:focus {background-color: $east-wind;}
.projects-list nav ul li.enservio-notes:hover, .projects-list nav ul li.enservio-notes:focus {background-color: $enservio-notes;}
.projects-list nav ul li.enservio-portal:hover, .projects-list nav ul li.enservio-portal:focus {background-color: $enservio-portal;}
.projects-list nav ul li.my-stuff:hover, .projects-list nav ul li.my-stuff:focus {background-color: $mystuff;}
.projects-list nav ul li.panera:hover, .projects-list nav ul li.panera:focus {background-color: $panera;}
.projects-list nav ul li.transferx:hover, .projects-list nav ul li.transferx:focus {background-color: $transferx;}


.projects-list nav ul li.east-wind:hover a, .projects-list nav ul li.east-wind:focus a,
.projects-list nav ul li.enservio-notes:hover a, .projects-list nav ul li.enservio-notes:focus a,
.projects-list nav ul li.enservio-portal:hover a, .projects-list nav ul li.enservio-portal:focus a,
.projects-list nav ul li.my-stuff:hover a, .projects-list nav ul li.my-stuff:focus a,
.projects-list nav ul li.panera:hover a, .projects-list nav ul li.panera:focus a,
.projects-list nav ul li.transferx:hover a, .projects-list nav ul li.transferx:focus a {color: $white;}