@font-face {
  font-family: "metropolis-light";
  font-display: swap;
  src: url("../fonts/metropolis/metropolis-light.eot");
  src: url("../fonts/metropolis/metropolis-light.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/metropolis-light.woff") format("woff"), url("../fonts/metropolis/metropolis-light.woff2") format("woff2"), url("../fonts/metropolis/metropolis-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "metropolis-regular";
  font-display: swap;
  src: url("../fonts/metropolis/metropolis-regular.eot");
  src: url("../fonts/metropolis/metropolis-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/metropolis-regular.woff") format("woff"), url("../fonts/metropolis/metropolis-regular.woff2") format("woff2"), url("../fonts/metropolis/metropolis-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "metropolis-bold";
  font-display: swap;
  src: url("../fonts/metropolis/metropolis-bold.eot");
  src: url("../fonts/metropolis/metropolis-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis/metropolis-bold.woff") format("woff"), url("../fonts/metropolis/metropolis-bold.woff2") format("woff2"), url("../fonts/metropolis/metropolis-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

::-moz-selection {
  color: white;
  background: #384332; }

::selection {
  color: white;
  background: #384332; }

.bg-green {
  background: #384332; }

.bg-orange {
  background: #af4433; }

.bg-cream {
  background: #eef1e8; }
  .bg-cream .text {
    color: #384332; }

.bg-delta {
  background: #eeeeee; }

.bg-eberhardt {
  background: #ffe151; }
  .bg-eberhardt .text h2, .bg-eberhardt p {
    color: black; }
    .bg-eberhardt .text h2 a, .bg-eberhardt p a {
      color: black; }
    .bg-eberhardt .text h2 a:hover, .bg-eberhardt .text h2 a:focus, .bg-eberhardt p a:hover, .bg-eberhardt p a:focus {
      color: #7e7e7e; }

.bg-enservio {
  color: white;
  background: #2e84ed; }
  .bg-enservio a {
    color: white; }

.bg-mystuff {
  color: white;
  background: #cd2183; }
  .bg-mystuff a {
    color: white; }
    .bg-mystuff a:hover, .bg-mystuff a:focus {
      color: #e5e5e5; }

.bg-panera {
  background: #4c753f; }
  .bg-panera .text {
    color: white; }
    .bg-panera .text ol li span::after {
      background: white; }

.bg-pine-tree {
  background: #34421e; }

.bg-transferx {
  color: white;
  background: #0d1e27; }
  .bg-transferx a {
    color: white; }
    .bg-transferx a:hover, .bg-transferx a:focus {
      color: #7e7e7e; }

html {
  margin: 0 auto;
  padding: 0;
  font-family: "metropolis-regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.65;
  color: black;
  scroll-behavior: smooth; }

/*
@media screen and (prefers-reduced-motion: reduce) {
	html {scroll-behavior: auto;}
	* {
  	animation: none !important;
  	transition: none !important;
	}
}
*/
body, .body {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/
h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  color: inherit; }

h1, h2, h3, h4, h5 {
  font-family: "metropolis-light", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.125; }
  h1 span, h2 span, h3 span, h4 span, h5 span {
    display: block;
    font-family: "metropolis-bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase; }

h1 {
  font-size: 3.502rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem; }

h4 {
  font-size: 1.563rem; }

h5 {
  font-size: 1.25rem; }

p {
  max-width: 40rem;
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem; }

strong, em {
  display: inline;
  font-family: "metropolis-bold", sans-serif;
  font-style: normal;
  font-weight: normal; }

small {
  font-size: 0.8rem; }

h2 + h3,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol {
  padding: 0.5rem 0 0; }

p + h1, p + h2, p + h3, p + h4, p + h5, p + ol,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
dl + h1, dl + h2, dl + h3, dl + h4, dl + h5 {
  padding: 2rem 0 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul li, ol li {
    margin: 1rem 0 0; }

ol {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding: 0;
  counter-reset: count; }
  ol li {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 32rem;
    margin: 1rem 0;
    line-height: 1.5; }
    ol li span {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      position: relative;
      width: auto;
      min-width: 3.5rem;
      margin: 0; }
    ol li span::before {
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      margin: 0 0.8rem 0 0;
      padding: 0 0.32rem 0 0;
      border-right: 1px solid #384332;
      font-family: "metropolis-bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 150%;
      color: #384332;
      counter-increment: count;
      content: "0" counter(count); }
  ol li:first-of-type {
    margin: 0.32rem 0 1rem; }
  ol li:last-of-type {
    margin: 1rem 0 0; }

@media (min-width: 48rem) {
  ol {
    font-size: 110%; } }

dl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 110%; }
  dl dt {
    margin: 1rem 0 0;
    font-family: "metropolis-bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 110%; }
  dl dd {
    margin: 0; }

@media (min-width: 48rem) {
  dl {
    width: 95%; } }

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #384332; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus {
  color: #af4433; }

p a, li a, small a {
  font-family: "metropolis-bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #384332; }

p a:hover, p a:focus, li a:hover, li a:focus, small a:hover, small a:focus {
  color: #af4433; }

.visuallyhidden {
  display: none; }

nav {
  width: 100%; }
  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      margin: 0;
      padding: 0 1rem 0 0;
      font-family: "metropolis-bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      color: #af4433; }

@media (orientation: landscape), (min-width: 48rem) {
  nav ul li {
    padding: 0 1.5rem 0 0; } }

a .icon span {
  display: none; }

.no-touch a .icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden; }
  .no-touch a .icon span {
    display: grid;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 0.5rem;
    will-change: transform;
    -webkit-transition: all 0.325s ease 0s;
    -moz-transition: all 0.325s ease 0s;
    -ms-transition: all 0.325s ease 0s;
    -o-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s;
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
    transform: translateY(2rem); }
    .no-touch a .icon span svg {
      fill: #384332; }

.no-touch a .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.15;
  -webkit-backdrop-filter: saturate(180%);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  backdrop-filter: saturate(180%); }

.no-touch a:hover .icon span, .no-touch a:focus .icon span {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
  .no-touch a:hover .icon span svg, .no-touch a:focus .icon span svg {
    fill: #af4433; }

.no-touch a:hover .overlay, .no-touch a:focus .overlay {
  opacity: 0; }

header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background: white; }

.headroom {
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
  will-change: transform; }

.headroom--pinned {
  z-index: 10;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  color: #384332;
  background: #eef1e8; }
  footer .contact {
    display: block;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    text-align: left; }
    footer .contact p {
      max-width: none;
      margin: 0 auto;
      font-size: inherit; }
  footer nav ul li {
    font-size: 0.8rem;
    padding: 0 0.8rem 0 0; }
  footer p {
    font-size: 0.64rem; }

footer.error {
  position: absolute;
  bottom: 0;
  background: none; }

@media (min-width: 48rem) {
  footer .contact {
    margin: 0 0 4rem; }
  footer nav ul li {
    font-size: 1rem;
    padding: 0 1.5rem 0 0; } }

.skip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .skip p {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    .skip p a {
      display: block;
      width: 100%;
      padding: 0;
      text-transform: uppercase;
      background: white;
      opacity: 0; }
      .skip p a:focus {
        padding: 2rem;
        opacity: 1; }

.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: 100%;
  height: inherit;
  min-height: 90vh;
  overflow: hidden;
  margin: 0;
  padding: 2rem;
  color: white;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    -webkit-backdrop-filter: saturate(180%);
    backdrop-filter: saturate(180%); }
  .banner h1 {
    position: relative;
    max-width: 32rem;
    font-family: "metropolis-bold", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .banner p {
    position: relative;
    max-width: 32rem; }
  .banner .scroll {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2rem 0 0; }
    .banner .scroll div {
      width: calc(100vh / 4);
      height: 1px;
      background: white;
      opacity: 0.5; }
    .banner .scroll p {
      width: auto;
      padding: 0 0 0 1rem;
      font-size: 0.8rem;
      text-transform: uppercase; }
      .banner .scroll p a {
        color: white; }
        .banner .scroll p a:hover, .banner .scroll p a:focus {
          color: #af4433; }

@media (min-width: 48rem) {
  .banner {
    width: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);
    margin: 2rem auto 0;
    padding: 2rem; } }

.banner.delta-design {
  background-image: url(../images/work-delta-design-01-1x.jpg); }

.banner.east-wind {
  background-image: url(../images/work-east-wind-01-1x.jpg); }

.banner.eberhardt-design {
  background-image: url(../images/work-eberhardt-design-01-1x.jpg); }

.banner.enservio {
  background-image: url(../images/work-enservio-01-1x.jpg); }

.banner.mystuff {
  background-image: url(../images/work-mystuff-01-1x.jpg); }

.banner.panera {
  background-image: url(../images/work-panera-01-1x.jpg); }

.banner.transferx {
  background-image: url(../images/work-transferx-01-1x.jpg); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 64rem) {
  .banner.delta-design {
    background-image: url(../images/work-delta-design-01-2x.jpg); }
  .banner.east-wind {
    background-image: url(../images/work-east-wind-01-2x.jpg); }
  .banner.eberhardt-design {
    background-image: url(../images/work-eberhardt-design-01-2x.jpg); }
  .banner.enservio {
    background-image: url(../images/work-enservio-01-2x.jpg); }
  .banner.mystuff {
    background-image: url(../images/work-mystuff-01-2x.jpg); }
  .banner.panera {
    background-image: url(../images/work-panera-01-2x.jpg); }
  .banner.transferx {
    background-image: url(../images/work-transferx-01-2x.jpg); } }

.content, .up-next {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 2rem 0; }
  .content .card, .up-next .card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 2rem;
    padding: 2rem 0 0; }
    .content .card figure, .up-next .card figure {
      display: grid;
      width: 100%;
      overflow: hidden;
      margin: 0 auto; }
      .content .card figure figcaption, .up-next .card figure figcaption {
        display: none; }
      .content .card figure a, .up-next .card figure a {
        display: grid;
        position: relative; }
    .content .card .text, .up-next .card .text {
      margin: 1rem 0 0; }
    .content .card::before, .up-next .card::before {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      margin: 0;
      background: #e5e5e5;
      content: ""; }
    .content .card:first-of-type, .up-next .card:first-of-type {
      padding: 0; }
    .content .card:first-of-type::before, .up-next .card:first-of-type::before {
      display: none; }
  .content figure, .up-next figure {
    display: grid;
    width: 100%;
    margin: 1rem 0; }
    .content figure picture, .up-next figure picture {
      display: grid;
      width: 100%;
      overflow: hidden; }
    .content figure figcaption, .up-next figure figcaption {
      display: none; }
  .content figure.small, .up-next figure.small {
    width: calc(50% - 1rem); }
  .content video, .up-next video {
    display: grid;
    width: 100%;
    margin: 1rem auto; }
  .content .text, .up-next .text {
    display: block;
    position: relative;
    width: 100%;
    margin: 1rem 0; }
    .content .text h1, .up-next .text h1 {
      padding: 0 0 1rem;
      font-family: "metropolis-bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 1; }
    .content .text h2.deliverables + p, .up-next .text h2.deliverables + p {
      padding: 0;
      font-size: 0.8rem;
      text-transform: uppercase; }
      .content .text h2.deliverables + p::after, .up-next .text h2.deliverables + p::after {
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        margin: 1rem auto 0;
        background: #e5e5e5;
        content: ""; }
    .content .text .group h1, .content .text .group h2, .up-next .text .group h1, .up-next .text .group h2 {
      padding: 2rem 0 0; }
    .content .text .group:first-of-type h2, .up-next .text .group:first-of-type h2 {
      padding: 0; }
    .content .text .group + ol, .up-next .text .group + ol {
      padding: 1rem 0 0; }
  .content .text > p:first-child, .up-next .text > p:first-child {
    padding: 0; }
  .content .highlight, .up-next .highlight {
    display: flex;
    flex-direction: column;
    width: calc(100% + 4rem);
    margin: 2rem -2rem;
    padding: 4rem 2rem; }
    .content .highlight h2, .up-next .highlight h2 {
      font-family: "metropolis-bold", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 3.441rem; }
  .content .highlight.figures, .up-next .highlight.figures {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .content .highlight + .card, .up-next .highlight + .card {
    padding: 1rem 0 0; }
    .content .highlight + .card::before, .up-next .highlight + .card::before {
      display: none; }
  .content .border::before, .up-next .border::before {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    max-width: 40rem;
    height: 1px;
    margin: 0 auto 2rem;
    background: #e5e5e5;
    content: ""; }

@media (min-width: 36.25rem) {
  .content figure {
    width: calc(50% - 1rem); }
  .content figure.wide {
    width: 100%; } }

@media (min-width: 48rem) {
  .content .card {
    align-items: center;
    flex-direction: row; }
    .content .card figure {
      width: 45%; }
    .content .card .text {
      width: 55%;
      margin: 0;
      padding: 0 0 0 2rem; }
  .content .card.reverse {
    flex-direction: row-reverse; }
    .content .card.reverse .text {
      padding: 0 2rem 0 0; }
  .content .highlight p {
    font-size: 150%; }
  .content figure.small {
    width: calc(25% - 2rem); } }

@media (min-width: 64rem) {
  .content .text {
    margin: 2rem 0; }
    .content .text h1, .content .text h2, .content .text h3, .content .text p, .content .text ul, .content .text ol, .content .text dl {
      max-width: 40rem;
      margin: 0 auto; }
  .content .text + .text {
    margin: 0 0 2rem; }
  .content .highlight h2, .content .highlight p {
    max-width: 56rem; }
  .content video {
    width: 70%; } }

.up-next {
  margin: 0;
  padding: 2rem 2rem 0; }
  .up-next h1 {
    margin: 0 0 2rem;
    color: #384332; }
  .up-next::before {
    display: block;
    top: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto 2rem;
    background: #e5e5e5;
    content: ""; }

@media (min-width: 36.25rem) {
  .up-next {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .up-next .card {
      flex-direction: column;
      width: calc(50% - 1rem);
      margin: 0 0 2rem;
      padding: 0; }
      .up-next .card::before {
        display: none; }
      .up-next .card figure {
        width: 100%; }
      .up-next .card .text {
        width: 100%;
        margin: 1rem 0 0;
        padding: 0; }
    .up-next::before {
      width: 100%; } }

.banner.home {
  color: #384332;
  background: #eef1e8;
  background-blend-mode: multiply;
  background-image: url(../images/mug-1x.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 40%; }
  .banner.home h1 {
    font-family: "metropolis-bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 500%; }

.banner .signature {
  display: block;
  height: 4.5rem;
  overflow: hidden;
  margin: 1rem 0 0; }
  .banner .signature svg {
    height: 100%;
    fill: #384332; }

.banner .scroll {
  margin: 2rem 0 0 auto; }
  .banner .scroll div {
    background: #384332; }
  .banner .scroll p a {
    color: #384332; }
    .banner .scroll p a:hover, .banner .scroll p a:focus {
      color: #af4433; }

@media (min-width: 48rem) {
  .banner.home {
    background-image: url(../assets/images/mug-2x.png); } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .banner.home {
    background-image: url(../images/mug-2x.png); } }

@media (min-width: 64rem) {
  .banner.home {
    background-image: url(../images/mug-2x.png); }
    .banner.home .scroll {
      margin: 2rem 0 0; } }

.content .highlight.home {
  background: #eef1e8;
  color: #384332; }
  .content .highlight.home h2 {
    font-family: "metropolis-bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.441rem; }
