// COLORS
$cream: #eef1e8;
$green: #384332;
$orange: #af4433;


// BACKGROUND-COLORS
.bg-cream {
  background: $cream;
  .text {
    color: $green;
  }
}


// FONTS
@font-face {
  font-family: "metropolis-regular";
  font-display: swap;
    src: url("../fonts/metropolis/metropolis-regular.eot");
    src: url("../fonts/metropolis/metropolis-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-regular.woff") format("woff"),
         url("../fonts/metropolis/metropolis-regular.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "metropolis-bold";
  font-display: swap;
    src: url("../fonts/metropolis/metropolis-bold.eot");
    src: url("../fonts/metropolis/metropolis-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-bold.woff") format("woff"),
         url("../fonts/metropolis/metropolis-bold.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@mixin sans-regular {
  font-family: "metropolis-regular", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin sans-bold {
  font-family: "metropolis-bold", sans-serif;
  font-style: normal;
  font-weight: normal;
}


// MIXINS
@mixin transition($property: all, $duration: 0.325s, $easing: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -ms-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
};


// BASE
html {
  margin: 0 auto;
  padding: 0;
  @include sans-regular;
  font-size: 16px;
  line-height: 1.65;
  color: black;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {scroll-behavior: auto;}
	* {
  	animation: none !important;
  	transition: none !important;
	}
}

body, .body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}


// TYPOGRAPHY
/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/

h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  @include sans-regular;
  line-height: 1.125;
  span {
    display: block;
    @include sans-bold;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

h1 {font-size: 3.502rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

p {
  max-width: 40rem;
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem;
}

strong, em {
  display: inline;
  @include sans-bold;
}

small {font-size: 0.8rem;}


// CUSTOM SPACING
h2 + h3,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol {padding: 0.5rem 0 0;}

p + h1, p + h2, p + h3, p + h4, p + h5, p + ol,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
dl + h1, dl + h2, dl + h3, dl + h4, dl + h5 {padding: 2rem 0 0;}


// LISTS
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 1rem 0 0;
  }
}

ol {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding: 0;
  counter-reset: count;
  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 32rem;
    margin: 1rem 0;
    line-height: 1.5;
    span {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      position: relative;
      width: auto;
      min-width: 3.5rem;
      margin: 0;
    }
    span::before {
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      margin: 0 0.8rem 0 0;
      padding: 0 0.32rem 0 0;
      border-right: 1px solid $green;
      @include sans-bold;
      font-size: 150%;
      color: $green;
      counter-increment: count;
      content: "0" counter(count);
    }
  }
  li:first-of-type {margin: 0.32rem 0 1rem;}
  li:last-of-type {margin: 1rem 0 0;}
}

@media (min-width: 48rem) {
  ol {font-size: 110%;}
}

dl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 110%;
  dt {
    margin: 1rem 0 0;
    @include sans-bold;
    font-size: 110%;
  }
  dd {
    margin: 0;
  }
}

@media (min-width: 48rem) {
  dl {width: 95%;}
}


// LINKS
a {
  text-decoration: none;
  cursor: pointer;
  @include transition(all, 0.325s, ease);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {color: $green;}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus {color: $orange;}

p a, li a, small a {
  @include sans-bold;
  color: $green;
}

p a:hover, p a:focus, li a:hover, li a:focus, small a:hover, small a:focus {color: $orange;}


// VISUALLY HIDDEN
.visuallyhidden {display: none;}


// BANNERS
.banner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: 100%;
  height: inherit;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 2rem;
  color: $green;
  background: $cream;
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    -webkit-backdrop-filter: saturate(180%);
    backdrop-filter: saturate(180%);
  }
  .text {
    margin: 0 0 2rem;
    h1 {
      position: relative;
      max-width: 32rem;
      @include sans-bold;
    }
    p {
      position: relative;
      max-width: 32rem;
    }
    ul {
      display: flex;
      margin: 1rem 0 0;
      li {margin: 0;}
      li a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem 0 0;
        padding: 0.25rem;
        border-radius: 100%;
        svg {
          width: 1.75rem;
          height: 1.75rem;
          fill: $green;
        }
        &:hover, &:focus {background: white;}
      }
    }
  }
}
