

/* ------------------------------------------
  COLOR
---------------------------------------------

/*
  White
  #ffffff;
  rgba(255,255,255,1);
  
  Cream
  #eef1e8;
  rgba(238,241,232,1);
  
  Green
  #384332;
  rgba(56,67,50,1)
  
  Orange
  #e85c45;
  rgba(232,92,69,1);
*/


/* ------------------------------------------
  FONTS
--------------------------------------------- */

@font-face {
  font-family: "metropolis-thin";
    src: url("../fonts/metropolis/metropolis-thin.eot");
    src: url("../fonts/metropolis/metropolis-thin.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-thin.woff") format("woff"),
         url("../fonts/metropolis/metropolis-thin.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-light";
    src: url("../fonts/metropolis/metropolis-light.eot");
    src: url("../fonts/metropolis/metropolis-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-light.woff") format("woff"),
         url("../fonts/metropolis/metropolis-light.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-regular";
    src: url("../fonts/metropolis/metropolis-regular.eot");
    src: url("../fonts/metropolis/metropolis-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-regular.woff") format("woff"),
         url("../fonts/metropolis/metropolis-regular.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-bold";
    src: url("../fonts/metropolis/metropolis-bold.eot");
    src: url("../fonts/metropolis/metropolis-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-bold.woff") format("woff"),
         url("../fonts/metropolis/metropolis-bold.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  background-color: #ffffff;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::selection {
  background: #384332;
  color: #ffffff;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

@media (min-width: 41.6875em) {body {font-size: 112.5%;}}

@media (min-width: 48em) {body {font-size: 125%;}}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1, h2, p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #384332;
}

h1 {
  margin: 0 0 0.25em;
  font-family: "metropolis-thin", sans-serif;
  font-size: 2em;
  line-height: 1;
  text-transform: capitalize;
}

h1 span {
  display: block;
  width: 100%;
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.375em;
  line-height: 2;
  text-transform: uppercase;
}

h2 {
  font-family: "metropolis-thin", sans-serif;
  font-size: 1.25em;
  line-height: 1;
  text-transform: capitalize;
}

h2 span {
  display: block;
  width: 100%;
  font-family: "metropolis-regular", sans-serif;
  font-size: 0.75em;
  line-height: 2.25;
  text-transform: uppercase;
}

p, strong {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825em;
  font-weight: normal;
  line-height: 1.5;
  color: #384332;
}

h1 a, h2 a, p a {
  font-family: "metropolis-regular", sans-serif;
  text-decoration: none;
  color: #384332;
  opacity: 1;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus,
p a:hover, p a:focus {color: #e85c45;}

strong {font-family: "metropolis-regular", sans-serif;}

small {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.675em;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: #384332;
}


/* ------------------------------------------
  BUTTONS
--------------------------------------------- */

.button {
  display: inline-block;
  width: auto;
  margin: 1em auto 0;
  padding: 0.675em 1.5em 0.5em 1.5em;
  border: 1px solid #384332;
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.675em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #384332;
  background-color: transparent;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #384332;
}

.button.white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.white:hover, .button.white:focus {
  color: #384332;
  background-color: #ffffff;
}


/* ------------------------------------------
  JUMP
--------------------------------------------- */

.jump {
  position: absolute;
  z-index: 25;
  width: 100%;
  margin: 0 auto;
  padding: 3em 0 0;
  text-align: center;
}

.jump a {
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  color: transparent;
}

.jump a:hover, .jump a:focus {color: #ffffff;}


/* ------------------------------------------
  HEADER
--------------------------------------------- */

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1em 0;
  background-color: transparent;
}


/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */

nav {width: 100%;}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0 1em;
  list-style-type: none;
  column-span: all;
}

nav li {
  display: block;
  width: initial;
  margin: 0 1em 0 0;
  padding: 0;
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.75em;
  font-weight: inherit;
  line-height: 1;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 1;
}

nav li:last-child {
  position: absolute;
  right: 0;
}

nav li a {
  position: relative;
  padding-bottom: 0.5em;
  color: #ffffff;
}

nav li a:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #ffffff;
  content: "";
  transition: width 0.2s;
}

nav li a:hover, nav li a:focus {color: #ffffff;}

nav li a:hover:after, nav li a:focus:after, nav li a.active:after {width: 100%;}

nav li a.active {color: #ffffff;}


