/* ------------------------------------------
  COLOR
---------------------------------------------

/*
  White
  color: #ffffff;
  color: rgba(255,255,255,1);
  
  Cream
  color: #eef1e8;
  color: rgba(238,241,232,1);
  
  Green
  color: #384332;
  color: rgba(56,67,50,1)
  
  Pale Red
  color: #ff7376;
  color: rgba(255,115,118,1);

  Orange
  color: #e85c45;
  color: rgba(232,92,69,1);
*/


/* ------------------------------------------
  FONTS
--------------------------------------------- */

@font-face {
  font-family: "metropolis-thin";
    src: url("../fonts/metropolis/metropolis-thin.eot");
    src: url("../fonts/metropolis/metropolis-thin.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-thin.woff") format("woff"),
         url("../fonts/metropolis/metropolis-thin.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-light";
    src: url("../fonts/metropolis/metropolis-light.eot");
    src: url("../fonts/metropolis/metropolis-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-light.woff") format("woff"),
         url("../fonts/metropolis/metropolis-light.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-regular";
    src: url("../fonts/metropolis/metropolis-regular.eot");
    src: url("../fonts/metropolis/metropolis-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-regular.woff") format("woff"),
         url("../fonts/metropolis/metropolis-regular.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-medium";
    src: url("../fonts/metropolis/metropolis-medium.eot");
    src: url("../fonts/metropolis/metropolis-medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-medium.woff") format("woff"),
         url("../fonts/metropolis/metropolis-medium.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "metropolis-bold";
    src: url("../fonts/metropolis/metropolis-bold.eot");
    src: url("../fonts/metropolis/metropolis-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/metropolis/metropolis-bold.woff") format("woff"),
         url("../fonts/metropolis/metropolis-bold.woff2") format("woff2"),
         url("../fonts/metropolis/metropolis-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::selection {
  background: #384332;
  color: #ffffff;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

/* @media (min-width: 48rem) {html {font-size: 125%;}} */


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1, h2, h3, p, strong, small {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  margin: 0 0 0.5rem;
  font-family: "metropolis-bold", sans-serif;
  font-size: 1.75rem;
  line-height: 1;
  text-transform: capitalize;
  color: #384332;
  column-span: all;
}

h1 span {
  display: block;
  width: 100%;
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.575rem;
  line-height: 2;
  text-transform: uppercase;
}

h2, h3 {
  margin: 0 0 0.125rem;
  font-family: "metropolis-bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: capitalize;
  color: #384332;
}

h2 span {
  display: block;
  width: 100%;
  font-family: "metropolis-regular", sans-serif;
  font-size: 0.625rem;
  line-height: 2;
  text-transform: uppercase;
}

p {
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825rem;
  line-height: 1.5;
  color: #000000;
}

strong {
  font-family: "metropolis-medium", sans-serif;
  line-height: inherit;
  color: inherit;
}

small {
  font-family: "metropolis-light", sans-serif;
  font-size: 0.75rem;
  line-height: inherit;
  color: inherit;
}

h1.white, h2.white, h3.white, p.white {color: #ffffff;}

h1 a, h2 a, p a, li a {
  font-family: "metropolis-bold", sans-serif;
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus,
p a:hover, p a:focus,
li a:hover, li a:focus {color: #ff7376;}


/* ------------------------------------------
  BUTTONS
--------------------------------------------- */

.button {
  display: inline-block;
  width: auto;
  margin: 0.5rem auto 0;
  padding: 0.625rem 1.25rem;
  border: 1px solid #384332;
  font-family: "metropolis-medium", sans-serif;
  font-size: 0.625rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 0.875;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #384332;
  background-color: transparent;
  cursor: pointer;
}

.button.left {margin: 0.5rem auto 0 0;}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #384332;
}

.button.white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.white:hover, .button.white:focus {
  color: #384332;
  background-color: #ffffff;
}


/* ------------------------------------------
  JUMP
--------------------------------------------- */

.jump {
  position: absolute;
  z-index: 25;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0;
  text-align: center;
}

.jump a {
  font-family: "metropolis-bold", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: transparent;
}

.jump a:hover, .jump a:focus {
  color: #ffffff;
  color: #384332;
}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 2rem;	
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;
  margin: 0 0 0.5rem;
  padding: 0;
  list-style-type: none;
  font-size: 0.625rem;
  font-weight: inherit;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

footer ul li, footer ul a li {
  display: inline-block;
  margin: 0;
  padding: 0 1.25rem 0 0;
  font-family: "metropolis-medium", sans-serif;
  text-align: center;
  color: #384332;
  transition: all 0.2s ease;
}

footer ul a:hover li, footer ul a:focus li {color: #ff7376; color: #e85c45;}

footer ul a:hover li span.icon-home, footer ul a:focus li span.icon-home,
footer ul a:hover li span.icon-coffee, footer ul a:focus li span.icon-coffee,
footer ul a:hover li span.icon-email, footer ul a:focus li span.icon-email,
footer ul a:hover li span.icon-linkedin, footer ul a:focus li span.icon-linkedin {color: #ff7376; color: #e85c45;}

.icon-home, .icon-coffee, .icon-email, .icon-linkedin {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #384332;
}

p.copyright {
  font-size: 0.675rem;
  text-align: left;
}

@media (min-width: 48rem) {footer {padding: 4rem;}}


/* ------------------------------------------
  BANNERS
--------------------------------------------- */

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-attachment: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-touch .banner {background-attachment: fixed;}


/* ------------------------------------------
  CARDS
--------------------------------------------- */

.card {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
}

.card:last-of-type {margin: 0;}

.card figure {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.card figure img {height: 100%;}

.card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 0;
  left: 2rem;
  margin: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,0.25);
}

@media (min-width: 41.6875rem) {
.card {width: 50%;}
.card:nth-child(odd) {padding-left: 1rem;}
.card:nth-child(even) {padding-right: 1rem;}
.card:nth-child(odd).card figcaption {left: 1rem;}
.card:nth-child(even).card figcaption {right: 1rem;}}

@media (min-width: 48rem) {
.card {padding: 4rem 4rem 0;}
.card:nth-child(odd) {padding-left: 2rem;}
.card:nth-child(even) {padding-right: 2rem;}
.card figcaption {
  top: 4rem;
  right: 4rem;
  bottom: 0;
  left: 4rem;
}
.card:nth-child(odd).card figcaption {left: 2rem;}
.card:nth-child(even).card figcaption {right: 2rem;}}



/* ------------------------------------------
  COPY
--------------------------------------------- */

.copy {padding: 2rem 2rem 0;}

@media (min-width: 48rem) {.copy {padding: 4rem 4rem 0;}}


/* ------------------------------------------
  WELCOME
--------------------------------------------- */

.welcome .logo {
  width: 14rem;
  margin: 0 auto;
  padding: 2rem 0 0;
}

@media (min-width: 48rem) {
.welcome .logo {
  width: 20rem;
  padding: 4rem 0 0;
}
.welcome .copy h1 {font-size: 2.5rem;}
.welcome .copy p {font-size: 1.25rem;}}


/* ------------------------------------------
  WORK
--------------------------------------------- */

.work {
  display: flex;
  flex-direction: column;
}

@media (min-width: 41.6875rem) {
.work {
  flex-direction: row;
  flex-wrap: wrap;
}}


/* ------------------------------------------
  ABOUT
--------------------------------------------- */

.about .banner {align-items: flex-start;}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about .logo {
  width: 14rem;
  margin: 0 auto;
  padding: 2rem 0 0;
}

.about img {
  width: 10rem;
  margin: 0 auto;
  padding: 2rem 0 0;
}

@media (min-width: 48rem) {
.about .logo {
  width: 20rem;
  padding: 4rem 0 0;
}
.bio .copy h1 {font-size: 2.5rem;}
.bio .copy p {font-size: 1.25rem;}}


/* ------------------------------------------
  MAXIMS
--------------------------------------------- */

.maxims {
  margin: 2rem auto 0;
  padding: 0 0 2rem;
  background-color: #eef1e8;
}

.maxims ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1rem 0 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825rem;
  line-height: 1.5;
  list-style-type: none;
}

.maxims ul li {padding: 0 0 1rem;}

.maxims ul li h2 span {
  display: block;
  width: 100%;
  margin-bottom: -0.75rem;
  font-family: "metropolis-bold", sans-serif;
  font-size: 2rem;
  line-height: 1;
  color: #ffffff;
}

.maxims ul li:last-of-type {padding: 0;}

@media (min-width: 48rem) {
.maxims {margin: 4rem auto 0;}
.maxims ul  {
  flex-direction: row;
  flex-wrap: wrap;
}
.maxims ul li {width: 50%;}
.maxims ul li:nth-of-type(odd) {padding-right: 2rem;}
.maxims ul li:nth-of-type(even) {padding-left: 2rem;}}


/* ------------------------------------------
  TALENTS
--------------------------------------------- */

.talents {
  margin: 0 auto;
  padding: 0;
}

.talents ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825rem;
  line-height: 1.5;
  list-style-type: none;
}

.talents ul li {padding: 0 0 1rem;}

.talents ul li:last-of-type {padding: 0;}

.talents ul li span.icon-vector, .talents ul li span.icon-html5, 
.talents ul li span.icon-star, .talents ul li span.icon-megaphone {
  display: block;
  width: 100%;
  margin-bottom: -0.75rem;
  font-size: 2.5rem;
  line-height: 1;
  color: #eef1e8;
}

@media (min-width: 41.6875rem) {
.talents ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.talents ul li {width: 50%;}
.talents ul li:nth-of-type(odd) {padding-right: 1rem;}
.talents ul li:nth-of-type(even) {padding-left: 1rem;}
.talents ul li:nth-of-type(3) {padding: 0 1rem 0 0;}}

@media (min-width: 48rem) {
.talents ul li:nth-of-type(odd) {padding-right: 2rem;}
.talents ul li:nth-of-type(even) {padding-left: 2rem;}}


/* ------------------------------------------
  FAVORITES
--------------------------------------------- */

.favorites {
  margin: 0 auto;
  padding: 0;
}

.favorites ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825rem;
  line-height: 1.5;
  list-style-type: none;
}

.favorites ul li {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #eef1e8;
}

.favorites ul li:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: 41.6875rem) {
.favorites ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.favorites ul li {
  width: 50%;
  margin: 0;
  border: none;
}
.favorites ul li:nth-of-type(odd) {padding-right: 1rem;}
.favorites ul li:nth-of-type(even) {padding-left: 1rem;}
.favorites ul li:nth-of-type(3) {padding: 0 1rem 0 0;}}

@media (min-width: 48rem) {
.favorites ul li:nth-of-type(odd) {padding: 0 2rem 2rem 0;}
.favorites ul li:nth-of-type(even) {padding: 0 0 2rem 2rem;}
.favorites ul li:nth-of-type(3) {padding: 0 2rem 0 0;}
.favorites ul li:last-of-type {padding: 0 0 0 2rem;}}


/* ------------------------------------------
  JOBS
--------------------------------------------- */

.jobs {
  margin: 0 auto;
  padding: 0;
}

.jobs ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "metropolis-light", sans-serif;
  font-size: 0.825rem;
  line-height: 1.5;
  list-style-type: none;
}

.jobs ul li {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #eef1e8;
}

.jobs ul li:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: 41.6875rem) {
.jobs ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.jobs ul li {
  width: 50%;
  margin: 0;
  border: none;
}
.jobs ul li:nth-of-type(odd) {padding-right: 1rem;}
.jobs ul li:nth-of-type(even) {padding-left: 1rem;}
.jobs ul li:nth-of-type(3) {padding: 0 1rem 0 0;}}

@media (min-width: 48rem) {
.jobs ul li:nth-of-type(odd) {padding: 0 2rem 2rem 0;}
.jobs ul li:nth-of-type(even) {padding: 0 0 2rem 2rem;}
.jobs ul li:nth-of-type(3) {padding: 0 2rem 0 0;}
.jobs ul li:last-of-type {padding: 0 0 0 2rem;}}


/* ------------------------------------------
  STUDY CARDS
--------------------------------------------- */

.study .card {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
  background-color: #ffffff;
}

.study .card:last-of-type {padding: 2rem;}

.study .card.cream {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #eef1e8;
}

.study .card .copy {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.study .card .copy:last-of-type {padding: 0;}

.study .card .copy h2, .study .card .copy p {text-align: left;}

.study .card .copy h2 {margin: 0.5rem 0;}

.study .card .copy h2:first-of-type {margin: 0 0 0.5rem;}

.study .card .copy p {margin: 0 0 1rem;}

.study .card .copy p:last-of-type {margin: 0;}

.study .card .background-image {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.study .card.reverse .background-image {padding: 0 0 2rem;}

.study .card .row {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.study .card .row .background-image:first-of-type {padding: 0 0 1rem 0;}

.study .card .row .background-image:last-of-type {padding: 1rem 0 0 0;}

.study .card.wide {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
  background-color: #ffffff;
}

.study .card.wide .copy {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.study .card.wide .background-image {padding: 0;}

.study .card.wide:last-of-type {padding: 2rem 2rem 0;}

@media (min-width: 30rem) {
.study .card .row {flex-direction: row;}
.study .card .row .background-image:first-of-type {padding: 0 1rem 0 0;}
.study .card .row .background-image:last-of-type {padding: 0 0 0 1rem;}}

@media (min-width: 48rem) {
.study article h1 span {font-size: 0.75rem;}
.study article h1 {font-size: 2.5rem;}
.study article p {font-size: 1.25rem;}
.study .card {flex-direction: row; padding: 4rem 4rem 0;}
.study .card.cream {margin-top: 4rem; padding: 4rem;}
.study .card .background-image {padding: 0 0 0 2rem;}
.study .card.reverse {flex-direction: row-reverse;}
.study .card.reverse .background-image {padding: 0 0 0 2rem;}
.study .card .row .background-image:first-of-type {padding: 0 2rem 0 0;}
.study .card .row .background-image:last-of-type {padding: 0 0 0 2rem;}
.study .card .copy {padding: 0 2rem 0 0;}
.study .card .copy:last-of-type {padding: 0 2rem 0 0;}
.study .card.wide {padding: 4rem 4rem 0;}
.study .card.wide:last-of-type {padding: 4rem 4rem 0;}}