/* ------------------------------------------
  SITE COLORS
---------------------------------------------

/*
	White
	color: #ffffff;
	color: rgba(255,255,255,1);

	Yellow
	color: #ecb51a;
	color: rgba(236,181,26,1);

	Black
	color: #000000;
	color: rgba(0,0,0,1);
*/


/* ------------------------------------------
  BASE SITE STYLES
--------------------------------------------- */

html {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  background-color: #ffffff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
}

::selection {
  background: #ecb51a;
  color: #ffffff;
}

::-moz-selection {
  background: #ecb51a;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

@media (min-width: 41.6875em) {
body {font-size: 110%;}}

@media (min-width: 46em) {
body {font-size: 120%;}}

@media (min-width: 48em) {
body {
  font-size: 130%;
}}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */

h1, h2, h3 {
  display: block;
  width: 100%;
	margin: 0;
	padding: 0;
	color: #000000;
}

h1 {
  font-family: "Montserrat", sans-serif;
	font-size: 2.75em;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

h2 {
  margin: 0;
	font-family: "Roboto Slab", serif;
	font-size: 1.75em;
	font-weight: 300;
	text-align: left;
}

h3 {
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
}

p {
	margin: 1em 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 300;
	color: #000000;
}

h1 a, h2 a, h3 a, p a {
	font-weight: 400;
	color: #000000;
	opacity: 1;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus,
p a:hover, p a:focus {
	opacity: 0.7;
}

.small {
	margin: 0;
	padding: 0;
	font-size: 0.75em;
}

q {
	margin: 0;
	padding: 0 2em;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	font-size: 0.875em;
	text-align: center;
	color: #000000;
}

cite {
	margin: 0.25em 0 1em 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	font-size: 0.875em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: #000000;
}

.button {
  display: inline-block;
	width: auto;
  margin: 1em auto 0;
	padding: 0.5em 1em;
	border: 1px solid #000000;
  font-family: "Montserrat", sans-serif;
	font-size: 0.675em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	background-color: #ffffff;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.button:hover,
.button:focus {
	color: #ffffff;
	background-color: #000000;
}

@media (min-width: 30em) {
h1 {font-size: 3.5em;}}

@media (min-width: 48em) {
h1 {font-size: 4em;}}

@media (min-width: 64em) {
h1 {font-size: 4.5em;}}


/* ------------------------------------------
  CONTENT
--------------------------------------------- */

.content {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bumper {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 3.5em;
  height: 4.5em;
  margin: 0 0 -1em 0;
  padding: 0;
  background-color: #ffffff;
}


/* ------------------------------------------
  HELLO
--------------------------------------------- */

#hello {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 200;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0 5%;
  background-color: #ecb51a;
}

#hello .button {
  background-color: #ecb51a;  
}

#hello .button:hover,
#hello .button:focus {
	color: #ecb51a;
	background-color: #000000;
}

@media (min-width: 48em) {
#hello p {font-size: 1.25em;}}


/* ------------------------------------------
  LOGO
--------------------------------------------- */

.logo {
  width: 100%;
  height: 40vh;
  margin: 0;
  background-image: url(../img/logo.png);
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


/* ------------------------------------------
  HEADER
--------------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 3em;
  background-color: #ffffff;
}


/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */

#nav-modal {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav-modal ul {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5%;
  list-style: none;
  text-align: center;
}

#nav-modal ul li {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0;
	font-family: "Roboto Slab", serif;
	font-size: 1.75em;
	font-weight: 300;
}

#nav-modal ul li a {
  color: #000000;
  opacity: 1;
}

#nav-modal ul li .active a,
#nav-modal ul li a:hover,
#nav-modal ul li a:focus {
  color: #000000;
  opacity: 0.7;
}

#btn-open-modal.open-nav-modal:after,
#btn-close-modal.close-nav-modal:after {
  position: absolute;
  right: 0.325em;
  top: 0.325em;
  font-family: "Ionicons";
  font-size: 2.5em;
  line-height: 0.5;
  color: #000000;
  cursor: pointer;
}

#btn-open-modal.open-nav-modal:after {
  content: "\f20e";
}

#btn-close-modal.close-nav-modal:after {
  content: "\f2d7";
}

#btn-open-modal.open-nav-modal:hover,
#btn-open-modal.open-nav-modal:focus,
#btn-close-modal.close-nav-modal:hover,
#btn-close-modal.close-nav-modal:focus {
  color: #000000;
  opacity: 0.7;
}

@media only screen and (orientation: landscape) {
#nav-modal ul {
  width: 60%;
  margin: 0 20%;
}}


/* ------------------------------------------
  CONTACT
--------------------------------------------- */

#contact {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	width: 100%;
	margin: 1em auto 0;
	padding: 0;
	list-style-type: none;
	font-family: "Roboto Slab", serif;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1;
	text-align: center;
}

#contact ul li {
	display: inline-block;
	margin: 0;
	padding: 0 0 1em 0;
	text-align: center;
}

#contact ul li a {
	display: inline-block;
	color: #000000;
	opacity: 1;
}

i.icon.ion-ios-email,
i.icon.ion-social-linkedin,
i.icon.ion-ios-telephone,
i.icon.ion-document {
  display: block;
  font-size: 4.5em;
  line-height: 0.5;
  text-align: center;
}

#contact ul li a:hover, 
#contact ul li a:focus {
	opacity: 0.7;
}


/* ------------------------------------------
  INTANGIBLES
--------------------------------------------- */

#intangibles {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

#intangibles ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	width: 100%;
	margin: 1em auto 0;
	padding: 0;
	list-style-type: none;
	font-family: "Roboto Slab", serif;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1;
	text-align: center;
}

#intangibles ul li {
	display: inline-block;
	margin: 0;
	padding: 0 0 1em 0;
	text-align: center;
}

#intangibles ul li a {
	display: inline-block;
	color: #000000;
	opacity: 1;
}

i.icon.ion-lightbulb,
i.icon.ion-hammer,
i.icon.ion-loop,
i.icon.ion-clock {
  display: block;
  font-size: 4.5em;
  line-height: 0.5;
  text-align: center;
}

#contact ul li a:hover, 
#contact ul li a:focus {
	opacity: 0.7;
}


/* ------------------------------------------
  HISTORY
--------------------------------------------- */

#history {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: initial;
  margin: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

#history article {margin: 1em 0;}

#history p {text-align: justify;}


/* ------------------------------------------
  SKILLS
--------------------------------------------- */

#skills {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: initial;
  margin: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

#skills ul {
  display: inline-block;
	width: 100%;
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#skills ul li {
	display: inline-block;
	margin: 0 0 0.5em;
	padding: 0.625em 1em;
	font-family: "Roboto Slab", serif;
	font-size: 0.825em;
	font-weight: 400;
	line-height: 0.825;
	text-align: left;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 1px;
}


/* ------------------------------------------
  DESIGN
--------------------------------------------- */

#design {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: initial;
  margin: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

.project {
  display: inline-block;
  margin: 1em 0 4em;
  padding: 0;
}

.left.box-small,
.right.box-small,
.left.box-wide,
.right.box-wide {
  display: block;
}

.left.box-wide,
.right.box-wide {
  float: left;
  width: 100%;
  height: 0;
  margin: 2.5% 0;
  padding-bottom: 66.67%;
}

.left.box-small,
.right.box-small {
  float: left;
  width: 47.5%;
  height: 0;
  padding-bottom: 47.5%;
}

.left.box-small {
  margin: 2.5% 0 2.5% 2.5%;
}

.right.box-small {
  margin: 2.5% 2.5% 2.5% 0;
}

@media screen and (min-width: 48em) {
.left.box-wide,
.right.box-wide {
  width: 58.5%;
  padding: 0 0 39%;
}
.left.box-small,
.right.box-small {
  width: 39%;
  padding: 0 0 39%;
}
.left.box-wide,
.left.box-small {margin: 0 1.25% 2.5% 0;}
.right.box-wide,
.right.box-small {margin: 0 0 2.5% 1.25%;}}


/* ------------------------------------------
  TRIVIALITIES
--------------------------------------------- */

#trivialities {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: initial;
  margin: 0;
  padding: 0 5% 5%;
  background-color: #ffffff;
}

#trivialities ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

#trivialities ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0;
	text-align: center;
}

#trivialities span.counter {
	margin: 0 auto;
	padding: 0;
	border: none;
	font-family: "Roboto Slab", serif;
	font-size: 2em;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	background: none;
	cursor: default;
}

#trivialities ul li p {
  margin: 0;
  font-size: 0.75em;
  line-height: 1.1;
  text-align: center;
}

i.icon.ion-coffee,
i.icon.ion-headphone,
i.icon.ion-ios-musical-notes,
i.icon.ion-plane {
  display: inline-block;
  font-size: 3em;
  line-height: 0.5;
  text-align: center;
}

@media (min-width: 30em) {
#trivialities ul {flex-direction: row;}}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: -1em 0 0;
  padding: 5%;
	font-family: "Roboto Slab", serif;
  font-size: 0.75em;
	font-weight: 300;
  text-align: center;
  background-color: #ffffff;
}