// BILLBOARDS
.billboard {
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-attachment: inherit;
  background-position: 70% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-touch .billboard {background-attachment: fixed;}


// ABOUT ME BILLBOARD
.billboard.about-me {background-image: url(../images/work-my-brand-01-1x.jpg);}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.billboard.about-me {background-image: url(../images/work-my-brand-01-2x.jpg);}}
