// FIGURES
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 2rem;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}