// HOME BANNER
.banner {
  &.home {
    color: $green;
    background: $cream;
    background-blend-mode: multiply;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    h1 {
      @include sans-bold;
      font-size: 500%;
    }
  }
  .signature {
    display: block;
    height: 4.5rem;
    overflow: hidden;
    margin: 1rem 0 2rem;
    svg {
      height: 100%;
      fill: $green;
    }
  }
  a.scroll {
    border: 1px dashed $green;
    span {
      svg {fill: $green;}
    }
    &:hover, &:focus {
      background: $green;
      span {
        svg {fill: white;}
      }
    }
  }
}

@media (min-width: 64rem) {
  .banner {
    &.home {background-image: url(../images/mug-2x.png);}
  }
}


// HOME CONTENT
.content {
  .highlight.home {
    background: $cream;
    color: $green;
    h2 {
      @include sans-bold;
      font-size: 3.441rem;
    }
  }
}