// GLOBAL RESUME STYLES
.resume h1 {
  display: block;
  width: 100%;
  padding: 0 0 1rem;
  font-family: $font-regular;
  font-size: 1rem;
  letter-spacing: 0;
}

.resume h1:after {
  display: block;
  position: relative;
  top: -2px;
  width: 100%;
  height: 1px;
  background-color: $green;
  content: "";
}

.resume h1 span {
  display: inline-block;
  position: relative;
  left: 0.25rem;
  margin: 0;
  font-family: $font-bold;
  text-transform: uppercase;
}

.resume h1 span:after {
  display: block;
  width: inherit;
  height: 3px;
  background-color: $green;
  content: "";
}

.resume p {font-size: 0.875rem;}

@media (min-width: 42rem) {
.resume h1 span {left: 2rem;}
.resume p {padding: 0 0 0 3.25rem;}}

@media (min-width: 46rem) {.resume p {padding: 0 0 0 3.5rem;}}


// RESUME HEADER
header.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

header.resume .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 12rem;
  margin: 0 auto;
  padding: 0 0 1rem;
}

header.resume .logo svg {width: 75%;}

header.resume section {width: 100%;}

header.resume ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

header.resume ul li {
  padding: 0 0 1rem;
  font-size: 1rem;
}

header.resume ul li:last-of-type {padding: 0;}

header.resume ul li span {
  display: block;
  width: 100%;
  font-family: $font-bold;
  text-transform: uppercase;
  color: $green;
}

header.resume ul li a {
  font-family: $font-medium;
  font-size: 0.875rem;
  color: $orange;
}

header.resume ul li a:hover, header.resume ul li a:focus {color: $green;}

@media (orientation: landscape) {
header.resume section {
  width: 80%;
  margin: 0 auto 0 0;
}}

@media (orientation: landscape) and (min-width: 36rem) {
header.resume {
  flex-direction: row;
  justify-content: center;
}
header.resume .logo {
  width: 40%;
  max-width: 14rem;
  padding: 0;
}
header.resume section {
  width: 60%;
  padding: 0 0 0 2rem;
}
header.resume ul {padding: 0 0 0 1.575rem;}}

@media (min-width: 46rem) {
header.resume {
  flex-direction: row;
  justify-content: center;
  max-width: 38rem;
}
header.resume .logo {
  width: 40%;
  max-width: 14rem;
  padding: 0;
}
header.resume section {
  width: 60%;
  max-width: 24rem;
  padding: 0 0 0 2rem;
}
header.resume ul {padding: 0 0 0 3.25rem;}}


// RESUME ABOUT ME
.resume section.about-me {padding: 2rem 2rem 0;}

.resume section.about-me p {font-size: 1rem;}

@media (orientation: landscape) and (min-width: 36rem) {
.resume section.about-me p {padding: 0 0 0 1.75rem;}}

@media (min-width: 46rem) {
.resume section.about-me {
  max-width: 38rem;
  margin: 0 auto;
}
.resume section.about-me p {padding: 0 0 0 3.5rem;}}


// RESUME EXPERIENCE
.resume section.experience {
  width: 100%;
  padding: 2rem 2rem 0;
}

.resume section.experience article {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem;
}

.resume section.experience article:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem auto 0;
  background-color: $warm-gray;
  content: "";
}

.resume section.experience article:last-of-type:after {display: none;}

.resume section.experience article .dates {display: none;}

.resume section.experience article .jobs h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: $font-bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: $orange;
}

.resume section.experience article .jobs h2 a {color: $orange;}

.resume section.experience article .jobs h2 a:hover,
.resume section.experience article .jobs h2 a:focus {color: $green;}

.resume section.experience article .jobs h2 span {
  font-family: $font-bold;
  font-size: 75%;
  color: $green;
}

.resume section.experience article .jobs p:last-of-type {padding: 0;}

.resume .experience h2 + p {
  padding: 0.25rem 0 0.75rem 0;
  font-family: $font-bold;
}

@media (orientation: landscape) and (min-width: 36rem) {
.resume section.experience article .jobs h2 {justify-content: flex-start;}
.resume section.experience article .jobs h2 span {padding: 0 0 0 1rem;}
.resume section .history {padding: 0 0 0 1.75rem;}}

@media (min-width: 46rem) {
.resume section.experience {
  max-width: 38rem;
  margin: 0 auto;
}
.resume section.experience .history {padding: 0 0 0 3.5rem;}
.resume section.experience article {
  flex-direction: row;
  padding: 0 0 2rem;
}
.resume section.experience article:after {display: none;}
.resume section.experience article .dates {
  display: flex;
  flex-direction: column;
  width: 10%;
  padding: 0 1rem 0 0;
}
.resume section.experience article .dates, .resume section.experience article .dates span {
  font-family: $font-bold;
  font-size: 0.75rem;
  text-align: left;
  text-transform: uppercase;
  color: $green;
}
.resume section.experience article .dates span:after {
  display: block;
  width: 0.75rem;
  height: 1px;
  margin: 0.125rem 0;
  background-color: $green;
  content: "";
}
.resume section.experience article .jobs p {padding: 0 0 0.75rem;}
.resume section.experience article .jobs h2 span {display: none;}}